@import "animation.css";
@import "typography.css";
@import "spacing.css";

/* 
 * Classes
 * -------
 */
.touchable,
.button,
.pill {
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  block-size: fit-content;
  /* To prevent long press text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button,
.pill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.touchable:hover,
.button:hover,
.pill:hover {
  opacity: 0.8;
  transition: var(--transition-time);
}
