/*
 * Font faces
 * ----------
 */

/* Avenir Next */
@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-Thin.otf");
  font-weight: 100 thin;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-ThinItalic.otf");
  font-weight: 100 thin;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-ExtraLight.otf");
  font-weight: 200 lighter;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-ExtraLightItalic.otf");
  font-weight: 200 lighter;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-Light.otf");
  font-weight: 300 light;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-LightItalic.otf");
  font-weight: 300 light;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-Regular.otf");
  font-weight: 400 normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-RegularItalic.otf");
  font-weight: 400 normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-Medium.otf");
  font-weight: 500 medium;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-MediumItalic.otf");
  font-weight: 500 medium;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-SemiBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-Bold.otf");
  font-weight: 700 bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-BoldItalic.otf");
  font-weight: 700 bold;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-ExtraBoldItalic.otf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-Black.otf");
  font-weight: 900 bolder;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), url("../../fonts/Metropolis-BlackItalic.otf");
  font-weight: 900 bolder;
  font-style: italic;
}

/* Arial Black */
@font-face {
  font-family: "Arial Black";
  src: local("Arial Black"), url("../../fonts/Arial Black.ttf"), local("Gadget"), local("Arial Bold");
}

/* Anime Ace */
@font-face {
  font-family: "Anime Ace";
  src: local("Anime Ace"), url("../../fonts/animeace.ttf");
  font-style: normal;
  font-weight: 100 200 300 400 thin light lighter normal;
}

@font-face {
  font-family: "Anime Ace";
  src: local("Anime Ace"), url("../../fonts/animeace_i.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Anime Ace";
  src: local("Anime Ace"), url("../../fonts/animeace_b.ttf");
  font-style: normal;
  font-weight: 500 600 700 800 900 medium bold bolder;
}