@import './sizes/viewport.css';

/* Global styles */
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  overflow-anchor: auto;
  scroll-behavior: smooth;
}

*:not(img):not(video):not(canvas) {
  overflow: visible;
}

*:focus {
  outline: none;
  outline-style: none;
}

/* Html, body, etc styles */
html,
body {
  min-height: -webkit-fill-available;
  background-color:black;
  color:white;
  font-weight: normal;
  width: var(--viewport-width);
  height: var(--viewport-height);
  /* overflow: auto; */
}

.full  {
  width: 100%;
  height: 100%;
}

html,
body,
table,
.space-around-none,
.no-space-around {
  margin: 0;
  padding: 0;
}

nav,
img,
button,
input[type=submit],
input[type=button],
input[type=reset],
.user-select-none,
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
}

.no-border,
.border-none {
  border: 0;
}

/* Responsive styles */
@media (hover: none), (pointer: coarse) {
  /*
   * Hide scroll bar
   * ---------------
   */
  /* Safari and Chrome */
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}