/* Global styles */
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  overflow-anchor: auto;
  scroll-behavior: smooth;
}

*:not(img):not(video):not(canvas) {
  overflow: visible;
}

*:focus {
  outline: none;
  outline-style: none;
}

/* Html, body, etc styles */
html,
body {
  min-height: -webkit-fill-available;
  background-color:black;
  color:white;
  font-weight: normal;
}

html,
body,
.full {
  width: 100dvw;
  height: 100dvh;
}

html,
body,
table,
.no-space-around {
  margin: 0;
  padding: 0;
}

.viewport-width {
  width: 100vw;
}

.viewport-height {
  width: 100vh;
}

nav,
img,
button,
input[type=submit],
input[type=button],
input[type=reset],
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
}

.hidden {
  display: none;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.no-pointer-event {
  pointer-events: none;
}

.invert {
  filter: invert(1);
}

.border-none {
  border: 0;
}

/* Responsive styles */
@media only screen and (max-width: 528px) {
  /*
   * Hide scroll bar
   * ---------------
   */
  /* Safari and Chrome */
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}