@import "touchables.css";

/* 
 * Props
 * -----
 */
:root {
  /* Properties */
  --pill-corner: 1000px;
}

/* 
 * Classes
 * -------
 */
.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--pill-corner);
}

.pill.large {
  min-width: var(--size-40-48);
  min-height: var(--size-40-48);
}
