@import "sizes.css";
/*
 * Spacing variables
 * -----------------
 */
:root {
  /* Dynamic spacing */
  --padding: var(--size-24-48);
  --padding-horizontal: var(--padding);
  --padding-vertical: var(--padding);
  --margin: var(--padding);
  --margin-horizontal: var(--margin);
  --margin-vertical: var(--margin);
  --gap: var(--padding);
  --text-gap: var(--size-8-12);
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-horizontal: 0 var(--safe-area-left) 0 var(--safe-area-right);
  --safe-area-vertical: var(--safe-area-top) 0 var(--safe-area-bottom) 0;
  --safe-area: var(--safe-area-top) var(--safe-area-left) var(--safe-area-bottom) var(--safe-area-right);
  --border-radius: 8px;
  --border-radius-round: 10000px;
  --border-radius-square: 2px;

  /* Calculated */
  --padding-half: calc(0.5 * var(--padding));
  --padding-2x: calc(2 * var(--padding));
  --padding-horizontal-half: calc(0.5 * var(--padding-horizontal));
  --padding-horizontal-2x: calc(2 * var(--padding-horizontal));
  --padding-vertical-half: calc(0.5 * var(--padding-vertical));
  --padding-vertical-2x: calc(2 * var(--padding-vertical));
  --margin-half: calc(0.5 * var(--margin));
  --margin-2x: calc(2 * var(--margin));
  --margin-horizontal-half: calc(0.5 * var(--margin-horizontal));
  --margin-horizontal-2x: calc(2 * var(--margin-horizontal));
  --margin-vertical-half: calc(0.5 * var(--margin-vertical));
  --margin-vertical-2x: calc(2 * var(--margin-vertical));
  --gap-half: calc(0.5 * var(--gap));
  --gap-2x: calc(2 * var(--gap));
  --text-gap-half: calc(0.5 * var(--text-gap));
  --text-gap-2x: calc(2 * var(--text-gap));
  --border-radius-half: calc(0.5 * var(--border-radius));
  --border-radius-2x: calc(2 * var(--border-radius));
  --width-10-percent: max(10%, min(100%, 375px));
  --width-20-percent: max(20%, min(100%, 375px));
  --width-25-percent: max(25%, min(100%, 375px));
  --width-30-percent: max(30%, min(100%, 375px));
  --width-40-percent: max(40%, min(100%, 375px));
  --width-50-percent: max(50%, min(100%, 375px));
  --width-60-percent: max(60%, min(100%, 375px));
  --width-70-percent: max(70%, min(100%, 375px));
  --width-75-percent: max(75%, min(100%, 375px));
  --width-80-percent: max(80%, min(100%, 375px));
  --width-90-percent: max(90%, min(100%, 375px));
  --width-100-percent: 100%;
  --width-640px: min(100%, 640px);
  --width-768px: min(100%, 768px);
  --width-1024px: min(100%, 1024px);
  --width-1280px: min(100%, 1280px);
  --width-1536px: min(100%, 1536px);
}

/*
 * Spacing classes
 * ---------------
 */
.padding {
  padding: var(--padding);
}

.padding-horizontal {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

.padding-vertical {
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}

.margin {
  margin: var(--margin);
}

.margin-horizontal {
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
}

.margin-vertical {
  margin-top: var(--margin-vertical);
  margin-bottom: var(--margin-vertical);
}

.safearea {
  padding: var(--safe-area-top) var(--safe-area-left) var(--safe-area-bottom) var(--safe-area-right);
}

.padding.safearea {
  padding: calc(var(--safe-area-top) + var(--padding-vertical)) calc(var(--safe-area-left) + var(--padding-horizontal)) calc(var(--safe-area-bottom) + var(--padding-vertical)) calc(var(--safe-area-right) + var(--padding-horizontal));
}

/* Breakpoints width */
.width-10-percent {
  width: var(--width-10-percent);
  min-width: var(--width-10-percent);
  max-width: var(--width-10-percent);
}

.width-20-percent {
  width: var(--width-20-percent);
  min-width: var(--width-20-percent);
  max-width: var(--width-20-percent);
}

.width-25-percent {
  width: var(--width-25-percent);
  min-width: var(--width-25-percent);
  max-width: var(--width-25-percent);
}

.width-30-percent {
  width: var(--width-30-percent);
  min-width: var(--width-30-percent);
  max-width: var(--width-30-percent);
}

.width-40-percent {
  width: var(--width-40-percent);
  min-width: var(--width-40-percent);
  max-width: var(--width-40-percent);
}

.width-half,
.width-50-percent {
  width: var(--width-50-percent);
  min-width: var(--width-50-percent);
  max-width: var(--width-50-percent);
}

.width-60-percent {
  width: var(--width-60-percent);
  min-width: var(--width-60-percent);
  max-width: var(--width-60-percent);
}

.width-70-percent {
  width: var(--width-70-percent);
  min-width: var(--width-70-percent);
  max-width: var(--width-70-percent);
}

.width-75-percent {
  width: var(--width-75-percent);
  min-width: var(--width-75-percent);
  max-width: var(--width-75-percent);
}

.width-80-percent {
  width: var(--width-80-percent);
  min-width: var(--width-80-percent);
  max-width: var(--width-80-percent);
}

.width-90-percent {
  width: var(--width-90-percent);
  min-width: var(--width-90-percent);
  max-width: var(--width-90-percent);
}

.width-100-percent,
.width-full {
  width: var(--width-100-percent);
  min-width: var(--width-100-percent);
  max-width: var(--width-100-percent);
}

.width-640px {
  width: var(--width-640px);
  min-width: var(--width-640px);
  max-width: var(--width-640px);
}

.width-768px {
  width: var(--width-768px);
  min-width: var(--width-768px);
  max-width: var(--width-768px);
}

.width-1024px {
  width: var(--width-1024px);
  min-width: var(--width-1024px);
  max-width: var(--width-1024px);
}

.width-1280px {
  width: var(--width-1280px);
  min-width: var(--width-1280px);
  max-width: var(--width-1280px);
}

.width-1536px {
  width: var(--width-1536px);
  min-width: var(--width-1536px);
  max-width: var(--width-1536px);
}