@import "sizes.css";
/*
 * Spacing variables
 * -----------------
 */
:root {
  /* Dynamic spacing */
  --padding: var(--size-24-48);
  --padding-horizontal: var(--padding);
  --padding-vertical: var(--padding);
  --margin: var(--padding);
  --margin-horizontal: var(--margin);
  --margin-vertical: var(--margin);
  --gap: var(--padding);
  --button-padding-horizontal: 12px;
  --button-padding-vertical: 8px;
  --pill-padding-horizontal: 10px;
  --pill-padding-vertical: 6px;
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-horizontal: 0 var(--safe-area-left) 0 var(--safe-area-right);
  --safe-area-vertical: var(--safe-area-top) 0 var(--safe-area-bottom) 0;
  --safe-area: var(--safe-area-top) var(--safe-area-left) var(--safe-area-bottom) var(--safe-area-right);

  /* Calculated */
  --padding-half: calc(0.5 * var(--padding));
  --padding-2x: calc(2 * var(--padding));
  --padding-half-horizontal: calc(0.5 * var(--padding-horizontal));
  --padding-2x-horizontal: calc(2 * var(--padding-horizontal));
  --padding-half-vertical: calc(0.5 * var(--padding-vertical));
  --padding-2x-vertical: calc(2 * var(--padding-vertical));
  --margin-half: calc(0.5 * var(--margin));
  --margin-2x: calc(2 * var(--margin));
  --margin-half-horizontal: calc(0.5 * var(--margin-horizontal));
  --margin-2x-horizontal: calc(2 * var(--margin-horizontal));
  --margin-half-vertical: calc(0.5 * var(--margin-vertical));
  --margin-2x-vertical: calc(2 * var(--margin-vertical));
  --gap-half: calc(0.5 * var(--gap));
  --gap-2x: calc(2 * var(--gap));
}

/*
 * Spacing classes
 * ---------------
 */
.padding {
  padding: var(--padding);
}

.padding-horizontal {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
}

.padding-vertical {
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}

.margin {
  margin: var(--margin);
}

.margin-horizontal {
  margin-left: var(--margin-horizontal);
  margin-right: var(--margin-horizontal);
}

.margin-vertical {
  margin-top: var(--margin-vertical);
  margin-bottom: var(--margin-vertical);
}

.safearea {
  padding: var(--safe-area-top) var(--safe-area-left) var(--safe-area-bottom) var(--safe-area-right);
}

.button {
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
}

.button.small {
  padding: calc(var(--button-padding-vertical) - 2px) calc(var(--button-padding-horizontal) - 2px);
}

.button.large {
  padding: calc(var(--button-padding-vertical) + 2px) calc(var(--button-padding-horizontal) + 2px);
}

.pill {
  padding: var(--pill-padding-vertical) var(--pill-padding-horizontal);
}

.pill.small {
  padding: calc(var(--pill-padding-vertical) - 2px) calc(var(--pill-padding-horizontal) - 2px);
}

.pill.large {
  padding: calc(var(--pill-padding-vertical) + 2px) calc(var(--pill-padding-horizontal) + 2px);
}

.page {
  margin: 0;
  padding: var(--padding-vertical) var(--padding-horizontal);
  gap: var(--gap);
}

.padding.safearea,
.page.safearea {
  padding: calc(var(--safe-area-top) + var(--padding-vertical)) calc(var(--safe-area-left) + var(--padding-horizontal)) calc(var(--safe-area-bottom) + var(--padding-vertical)) calc(var(--safe-area-right) + var(--padding-horizontal));
}

.navbar {
  margin: 0;
  padding: var(--padding-half-vertical) var(--padding-half-horizontal);
  gap: var(--gap);
}

.navbar.safearea {
  padding: calc(var(--safe-area-top) + var(--padding-half-vertical)) calc(var(--safe-area-left) + var(--padding-half-horizontal)) calc(var(--safe-area-bottom) + var(--padding-half-vertical)) calc(var(--safe-area-right) + var(--padding-half-horizontal));
}