@import "sizes.css";
@import "fonts.css";

/* 
 * Font styles
 * -----------
 */

 :root {
  /* Global */
  --line-height: 150%;

  /* Generic font sizes */
  --font-size-h0: var(--size-27-42);
  --font-size-h1: var(--size-24-36);
  --font-size-h2: var(--size-22-28);
  --font-size-h3: var(--size-20-24);
  --font-size-h4: var(--size-18-20);
  --font-size-h5: var(--size-16-18);
  --font-size-h6: var(--size-14-16);

  /* Specific font sizes */
  --font-size-title: var(--size-48-64);
  --font-size-heading: var(--size-40-48);
  --font-size-section: var(--size-14-16);
  --font-size-subsection: var(--size-12-14);
  --font-size-text: var(--size-13-16);
  --font-size-quote: var(--size-text);
  --font-size-legend: var(--size-12-14);
  --font-size-link: var(--size-text);
  --font-size-button: 12px;
  --font-size-pill: 10px;
}

/* Text align classes */
h1.left,
h2.left,
h3.left,
h4.left,
h5.left,
h6.left,
p.left,
span.left,
i.left,
b.left,
a.left,
strong.left,
.text-align-left {
  text-align: left;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center,
span.center,
i.center,
b.center,
a.center,
strong.center,
.text-align-center {
  text-align: center;
}

h1.right,
h2.right,
h3.right,
h4.right,
h5.right,
h6.right,
p.right,
span.right,
i.right,
b.right,
a.right,
strong.right,
.text-align-right {
  text-align: right;
}

h1.justify,
h2.justify,
h3.justify,
h4.justify,
h5.justify,
h6.justify,
p.justify,
span.justify,
i.justify,
b.justify,
a.justify,
strong.justify,
.text-align-justify {
  text-align: justify;
}

/* Anchor style */
a,
.link {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  font: var(--font-link);
  opacity: 1;
  text-decoration: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
  transition: var(--transition-time);
}

a.dotted,
.link.dotted {
  text-decoration: underline dotted;
  -webkit-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
}

a, a:visited, a:hover, a:active,
.link, .link:visited, .link:hover, .link:active {
  color: inherit;
}

a:hover,
.link:hover {
  opacity: 0.8;
  text-decoration: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
}

/* Generic font */
* {
  line-height: var(--line-height);
  font-family: "Avenir Next";
}

*:not(h1, h2, h3, h4, h5, h6, a > *),
* :not(h1, h2, h3, h4, h5, h6, a > *) {
  font-size: var(--font-size-text);
}

/* Dynamic header styles */
h1.large > a,
h1.large,
.h0 {
  font-size: var(--font-size-h0);
}

h1 > a,
h1,
.h1,
.button,
.pill {
  font-family: "Arial Black";
  letter-spacing: 0.1em;
}

h1 > a,
h1,
.h1 {
  font-size: var(--font-size-h1);
}

h2 > a,
h2,
.h2 {
  font-size: var(--font-size-h2);
}

h3 > a,
h3,
.h3 {
  font-size: var(--font-size-h3);
}

h4 > a,
h4,
.h4 {
  font-size: var(--font-size-h4);
}

h5 > a,
h5,
.h5 {
  font-size: var(--font-size-h5);
}

h6 > a,
h6,
.h6 {
  font-size: var(--font-size-h6);
}

h1.large > a,
h1.large,
.h0,
h2 > a,
h2,
.h2,
h3 > a,
h3,
.h3,
h4 > a,
h4,
.h4,
h5 > a,
h5,
.h5,
h6 > a,
h6,
.h6,
.title,
.heading,
.section,
.subsection,
.bold {
  font-weight: 700 bold;
}

h1 > a,
h1,
.h1,
.button,
.pill,
.heavy {
  font-weight: 900;
}

.quote,
.italic {
  font-style: italic;
}

.title,
.heading,
.section,
.subsection,
.button,
.pill,
.balance {
  text-wrap: balance;
}

h1.large > a,
h1.large,
.h0,
h1 > a,
h1,
.h1,
h2 > a,
h2,
.h2,
h3 > a,
h3,
.h3,
h4 > a,
h4,
.h4,
h5 > a,
h5,
.h5,
h6 > a,
h6,
.h6,
.capitalize {
  text-transform: capitalize;
}

.title,
.heading,
.section,
.subsection,
.button,
.pill,
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

title,
.heading,
.section,
.subsection,
.button,
.pill,
.balance {
  text-wrap: balance;
}

.ellipsis {
  text-overflow: ellipsis;
}

.clip {
  text-overflow: clip;
}

/* Specific classes */
.title {
  font-size: var(--font-size-title);
}

.heading {
  font-size: var(--font-size-heading);
}

.section {
  font-size: var(--font-size-section);
}

.subsection {
  font-size: var(--font-size-subsection);
}

.text {
  font-size: var(--font-size-text);
}

.quote {
  font-size: var(--font-size-quote);
}

.legend {
  font-size: var(--font-size-legend);
}

.button {
  font-family: "Arial Black";
  letter-spacing: 0.1em;
  font-size: var(--font-size-button);
}

.button.small {
  font-size: 10px;
}

.pill {
  font-size: var(--font-size-pill);
}

.pill.small {
  font-size: 8px;
}