/* 
 * Props
 * -----
 */
:root {
  /* Dynamic sizes */
  /* min(max( ((A + B) / (375 + 1280) * 100)vw, Apx), Bpx); */
  --size-96-128: min(max(13.5347vw, 98px), 128px);
  --size-64-128: min(max(11.6012vw, 64px), 128px);
  --size-64-96: min(max(9.6677vw, 64px), 96px);
  --size-64-72: min(max(8.2175vw, 64px), 72px);
  --size-48-96: min(max(8.7009vw, 48px), 96px);
  --size-36-96: min(max(7.9758vw, 36px), 96px);
  --size-48-64: min(max(6.7673vw, 48px), 64px);
  --size-48-56: min(max(6.2840vw, 48px), 56px);
  --size-36-64: min(max(6.0423vw, 36px), 64px);
  --size-40-48: min(max(5.4381vw, 40px), 48px);
  --size-32-64: min(max(5.8006vw, 32px), 64px);
  --size-36-44: min(max(4.8338vw, 36px), 44px);
  --size-32-40: min(max(4.3504vw, 32px), 40px);
  --size-28-44: min(max(4.3504vw, 28px), 44px);
  --size-27-42: min(max(4.1692vw, 27px), 42px);
  --size-28-36: min(max(3.8671vw, 28px), 36px);
  --size-24-98: min(max(7.2508vw, 24px), 96px);
  --size-24-48: min(max(4.3504vw, 24px), 48px);
  --size-24-36: min(max(3.6254vw, 24px), 36px);
  --size-20-40: min(max(3.6254vw, 20px), 40px);
  --size-24-32: min(max(3.3837vw, 24px), 32px);
  --size-20-32: min(max(3.1420vw, 20px), 32px);
  --size-22-28: min(max(3.0211vw, 22px), 28px);
  --size-20-24: min(max(2.6586vw, 20px), 24px);
  --size-18-26: min(max(2.6586vw, 18px), 26px);
  --size-18-24: min(max(2.5378vw, 18px), 24px);
  --size-18-20: min(max(2.2961vw, 18px), 20px);
  --size-16-32: min(max(2.9003vw, 16px), 32px);
  --size-16-24: min(max(2.4169vw, 16px), 24px);
  --size-16-22: min(max(2.2961vw, 16px), 22px);
  --size-16-20: min(max(2.1752vw, 16px), 20px);
  --size-16-18: min(max(2.0544vw, 16px), 18px);
  --size-14-16: min(max(1.8127vw, 14px), 16px);
  --size-13-16: min(max(1.7723vw, 13px), 16px);
  --size-12-24: min(max(2.1752vw, 12px), 24px);
  --size-12-18: min(max(1.8127vw, 12px), 18px);
  --size-12-16: min(max(1.6918vw, 12px), 16px);
  --size-12-14: min(max(1.571vw, 12px), 14px);
  --size-11-15: min(max(1.571vw, 11px), 15px);
  --size-0-24: min(max(1.4501vw, 0px), 24px);
  --size-10-12: min(max(1.3293vw, 10px), 12px);
  --size-8-12: min(max(1.2085vw, 8px), 12px);
  --size-8-10: min(max(1.0876vw, 8px), 10px);
  --size-6-12: min(max(1.0876vw, 6px), 12px);
  --size-0-18: min(max(1.0876vw, 0px), 18px);
  --size-6-8: min(max(0.8459vw, 6px), 8px);
  --size-0-16: min(max(0.9668vw, 0px), 16px);
  --size-4-12: min(max(0.9668vw, 4px), 12px);
  --size-2-8: min(max(0.6042vw, 2px), 8px);
  --size-0-12: min(max(0.7251vw, 0px), 12px);
  --size-0-10: min(max(0.6042vw, 0px), 10px);
  --size-2-6: min(max(0.48338vw, 2px), 6px);
  --size-0-8: min(max(0.48338vw, 0px), 8px);
  --size-2-4: min(max(0.36254vw, 2px), 4px);
  --size-0-6: min(max(0.36254vw, 0px), 6px);
  --size-0-4: min(max(0.24169vw, 0px), 4px);
  --size-0-2: min(max(0.12085vw, 0px), 2px);
}