@import './padding.css';
/*
 * Gap variables
 * -------------
 */
:root {
  /* Dynamic gap */
  --gap: var(--padding);
  --text-gap: var(--size-8-12);

  /* Calculated */
  --gap-half: calc(0.5 * var(--gap));
  --gap-2x: calc(2 * var(--gap));
  --gap-3x: calc(3 * var(--gap));
  --gap-4x: calc(4 * var(--gap));
  --text-gap-half: calc(0.5 * var(--text-gap));
  --text-gap-2x: calc(2 * var(--text-gap));
  --text-gap-3x: calc(3 * var(--text-gap));
  --text-gap-4x: calc(4 * var(--text-gap));
}

/*
 * Gap classes
 * -----------
 */
.gap {
  gap: var(--gap);
}

.gap-half {
  gap: var(--gap-half);
}

.gap-2x {
  gap: var(--gap-2x);
}

.gap-3x {
  gap: var(--gap-3x);
}

.gap-4x {
  gap: var(--gap-4x);
}

.text-gap {
  gap: var(--text-gap);
}

.text-gap-half {
  gap: var(--text-gap-half);
}

.text-gap-2x {
  gap: var(--text-gap-2x);
}

.text-gap-3x {
  gap: var(--text-gap-3x);
}

.text-gap-4x {
  gap: var(--text-gap-4x);
}