/*
 * Viewport variables
 * ------------------
 */
:root {
  --vw: 1dvw;
  --vh: 1dvh;
  --vs: 1;
  --viewport-width: calc(100 * var(--vw, 1dvw));
  --viewport-height: calc(100 * var(--vh, 1dvh));
}

/*
 * Viewport classes
 * ----------------
 */
 .viewport-size,
.viewport-width {
  min-width: var(--viewport-width);
  max-width: var(--viewport-width);
}

.viewport-size,
.viewport-height {
  min-height: var(--viewport-height);
  max-height: var(--viewport-height);
}