/*
 * Viewport variables
 * ------------------
 */
:root {
  --visual-viewport-width: var(--viewport-width);
  --visual-viewport-height: var(--viewport-height);
  --visual-viewport-scale: 1;
  --visual-viewport-page-top: 0;
  --visual-viewport-page-left: 0;
  --visual-viewport-offset-top: 0;
  --visual-viewport-offset-left: 0;
}

/*
 * Viewport classes
 * ----------------
 */
 .viewport-size,
.viewport-width {
  min-width: var(--viewport-width);
  max-width: var(--viewport-width);
}

.viewport-size,
.viewport-height {
  min-height: var(--viewport-height);
  max-height: var(--viewport-height);
}