@import '../atoms/button.css';

/* Navbar variables */
:root {
  --top-navbar-padding-horizontal: var(--size-20-32);
  --top-navbar-padding-vertical: 12px;
  --top-navbar-gap: var(--size-6-12);
  --top-navbar-height: var(--size-48-64);
  --top-navbar-logo-min-height: var(--size-20-24);
  --top-navbar-logo-max-height: 24px;
}

/* Navbar style */
.top-navbar {
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  /* Sizes */
  width: 100%;
  height: var(--top-navbar-height);
  /* Alignment */
  padding-left: var(--top-navbar-padding-horizontal);
  padding-right: var(--top-navbar-padding-horizontal);
  display: flex;
  align-items: center;
  gap: var(--top-navbar-gap);
  /* Appearance */
  -webkit-backdrop-filter: blur(15px);
  -moz-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 1000;
  pointer-events: none;
}

.top-navbar .fill {
  flex: 1;
}

.top-navbar.print {
  display: none !important;
}

/* If there's a row of buttons at the end of the navbar */
.top-navbar > div:last-child {
  gap: var(--top-navbar-gap);
}

/* Tackling safe area at a parent page or current navbar */
*:has(> .safearea) > .top-navbar,
*:has(> .safearea) > * .top-navbar,
*.safearea > .top-navbar,
*.safearea > * .top-navbar,
.top-navbar.safearea {
  height: calc(var(--safearea-top) + var(--top-navbar-height));
  padding-top: var(--safearea-top);
  padding-left: calc(var(--top-navbar-padding-horizontal) + var(--safearea-left));
  padding-right: calc(var(--top-navbar-padding-horizontal) + var(--safearea-right));
}

/* Button in the navbar */
.top-navbar .button {
  font-family: var(--font-family);
  text-transform: capitalize;
  text-wrap: nowrap;
  font-size: 14px !important;
  font-weight: 500 !important;
}

@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  .top-navbar .button {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
}

.top-navbar .fat {
  font-family: var(--font-family);
  font-weight: 600;
}

/* Font trim on buttons */
.top-navbar .fat.vertical-trim:after {
  content: '';
  margin-top: var(--vertical-trim-top);
  display: table;
}

.top-navbar .fat.vertical-trim:before {
  content: '';
  margin-bottom: var(--vertical-trim-bottom);
  display: table;
}

/* Icon in the navbar */
.top-navbar .button .icon {
  max-height: 20px;
}

/* Margins */
.top-navbar .button:not(.top-navbar-logo):first-child {
  margin-left: calc(2px - var(--button-padding-horizontal)) !important;
}

.top-navbar .button:last-child {
  margin-right: calc(2px - var(--button-padding-horizontal)) !important;
}

.top-navbar .top-navbar-background {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.top-navbar .top-navbar-logo-image {
  min-height: var(--top-navbar-logo-min-height);
  max-height: var(--top-navbar-logo-max-height);
}

.top-navbar .button.top-navbar-logo {
  padding: 0;
}

/* .top-navbar .button:not(:has(.button-text)):not(.do-not-hide), */
.top-navbar .button:not(:has(.button-text)):not(.top-navbar-logo):not(.do-not-hide),
.top-navbar .button .button-img:not(.do-not-hide),
.top-navbar .button .icon:not(.do-not-hide) {
  display: none;
}

/* Responsive styles: display button vs icons */
@media only screen and (max-width: 800px) {
  /* Hide text buttons, that are not back or next */
  /* .top-navbar .button:not(:has(.icon)):not(:has(.button-img)):not(.do-not-hide), */
  .top-navbar .button *:not(.icon):not(.do-not-hide) {
    display: none;
  }

  /* Show icon buttons */
  .top-navbar .button:not(:has(.button-text)):not(.top-navbar-logo):not(.do-not-hide):has(.icon),
  .top-navbar .button:not(:has(.button-text)):not(.top-navbar-logo):not(.do-not-hide):has(.button-img),
  .top-navbar .button .icon:not(.dot-not-hide),
  .top-navbar *:has(> .button:only-child .icon:not(.do-not-hide)) {
    display: inherit;
  }
}