@import '../atoms/button.css';

/* Navbar variables */
:root {
  --top-navbar-padding-horizontal: var(--size-20-32);
  --top-navbar-padding-vertical: 12px;
  --top-navbar-gap: var(--size-6-12);
  --top-navbar-height: var(--size-48-64);
}

/* Navbar style */
.top-navbar {
  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
  /* Sizes */
  width: 100%;
  height: var(--top-navbar-height);
  /* Alignment */
  padding-left: var(--top-navbar-padding-horizontal);
  padding-right: var(--top-navbar-padding-horizontal);
  display: flex;
  align-items: center;
  gap: var(--top-navbar-gap);
  /* Appearance */
  backdrop-filter: blur(15px);
  z-index: 1000;
}

.top-navbar .fill {
  flex: 1;
}

/* If there's a row of buttons at the end of the navbar */
.top-navbar > div:last-child {
  gap: var(--top-navbar-gap);
}

/* Tackling safe area at a parent page or current navbar */
*:has(> .safearea) > .top-navbar,
*:has(> .safearea) > * .top-navbar,
*.safearea > .top-navbar,
*.safearea > * .top-navbar,
.top-navbar.safearea {
  height: calc(var(--safe-area-top) + var(--top-navbar-height));
  padding-top: var(--safe-area-top);
  padding-left: calc(var(--top-navbar-padding-horizontal) + var(--safe-area-left));
  padding-right: calc(var(--top-navbar-padding-horizontal) + var(--safe-area-right));
}

/* Button in the navbar */
.top-navbar .button {
  font-family: var(--font-family);
  text-transform: capitalize;
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: 400;
}

.top-navbar .fat {
  font-family: var(--font-family);
  font-weight: 400;
}

/* Font trim on buttons */
.top-navbar .fat.vertical-trim:after {
  content: '';
  margin-top: var(--vertical-trim-top);
  display: table;
}

.top-navbar .fat.vertical-trim:before {
  content: '';
  margin-bottom: var(--vertical-trim-bottom);
  display: table;
}

/* Icon in the navbar */
.top-navbar .button .icon {
  max-height: 18px;
}
.top-navbar .button .icon:not(.do-not-hide) {
  display: none;
}

/* Margins */
.top-navbar .button:first-child {
  margin-left: calc(2px - var(--button-padding-horizontal)) !important;
}

.top-navbar .button:last-child {
  margin-right: calc(2px - var(--button-padding-horizontal)) !important;
}

.top-navbar .top-navbar-background {
  position: 'absolute';
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Responsive styles: display button vs icons */
@media only screen and (max-width: 800px) {
  /* Hide text buttons, that are not back or next */
  .top-navbar .button *:not(.icon):not(.do-not-hide) {
    display: none;
  }

  /* Show icon buttons */
  .top-navbar .button .icon:not(.dot-not-hide),
  .top-navbar *:has(> .button:only-child .icon:not(.do-not-hide)) {
    display: inherit;
  }
}