@import './gradient.css';

/* 
 * Classes
 * -------
 */

/* Disabling color */
.text-color-none,
.text-color-none:visited,
.text-color-none:active,
.text-color-none:link {
  color: none !important;
}

.text-color-inherit,
.text-color-inherit:visited,
.text-color-inherit:active,
.text-color-inherit:link {
  color: inherit !important;
}

/* Unsaturated text color */
.text-color-white,
:visited,
:active,
:link {
  color: var(--white) !important;
}

.text-color-black,
.text-color-black:visited,
.text-color-black:active,
.text-color-black:link {
  color: var(--black) !important;
}

.text-color-gray,
.text-color-gray:visited,
.text-color-gray:active,
.text-color-gray:link {
  color: var(--gray) !important;
}

.text-color-dark,
:visited,
:active,
:link {
  color: var(--dark) !important;
}

.text-color-light,
:visited,
:active,
:link {
  color: var(--light) !important;
}

.text-color-semi-dark,
:visited,
:active,
:link {
  color: var(--semi-dark) !important;
}

.text-color-semi-light,
:visited,
:active,
:link {
  color: var(--semi-light) !important;
}

/* Primary text color */
.text-color-red,
.text-color-red:visited,
.text-color-red:active,
.text-color-red:link {
  color: var(--red) !important;
}

.text-color-green,
.text-color-green:visited,
.text-color-green:active,
.text-color-green:link {
  color: var(--green) !important;
}

.text-color-blue,
.text-color-blue:visited,
.text-color-blue:active,
.text-color-blue:link {
  color: var(--blue) !important;
}

/* Secondary text color */
.text-color-orange,
.text-color-orange:visited,
.text-color-orange:active,
.text-color-orange:link {
  color: var(--orange) !important;
}

.text-color-yellow,
.text-color-yellow:visited,
.text-color-yellow:active,
.text-color-yellow:link {
  color: var(--yellow) !important;
}

.text-color-cyan,
.text-color-cyan:visited,
.text-color-cyan:active,
.text-color-cyan:link {
  color: var(--cyan) !important;
}

.text-color-purple,
.text-color-purple:visited,
.text-color-purple:active,
.text-color-purple:link {
  color: var(--purple) !important;
}

.text-color-pink,
.text-color-pink:visited,
.text-color-pink:active,
.text-color-pink:link {
  color: var(--pink) !important;
}

/* Nuanced text color*/
.text-color-brown,
.text-color-brown:visited,
.text-color-brown:active,
.text-color-brown:link {
  color: var(--brown) !important;
}

.text-color-olive,
.text-color-olive:visited,
.text-color-olive:active,
.text-color-olive:link {
  color: var(--olive) !important;
}

.text-color-ocean,
.text-color-ocean:visited,
.text-color-ocean:active,
.text-color-ocean:link {
  color: var(--ocean) !important;
}

.text-color-lime,
.text-color-lime:visited,
.text-color-lime:active,
.text-color-lime:link {
  color: var(--lime) !important;
}

.text-color-teal,
.text-color-teal:visited,
.text-color-teal:active,
.text-color-teal:link {
  color: var(--teal) !important;
}

.text-color-chocolate,
.text-color-chocolate:visited,
.text-color-chocolate:active,
.text-color-chocolate:link {
  color: var(--chocolate) !important;
}

.text-color-leather,
.text-color-leather:visited,
.text-color-leather:active,
.text-color-leather:link {
  color: var(--leather) !important;
}

.text-color-cream,
.text-color-cream:visited,
.text-color-cream:active,
.text-color-cream:link {
  color: var(--cream) !important;
}

.text-color-peach,
.text-color-peach:visited,
.text-color-peach:active,
.text-color-peach:link {
  color: var(--peach) !important;
}

.text-color-leaf,
.text-color-leaf:visited,
.text-color-leaf:active,
.text-color-leaf:link {
  color: var(--leaf) !important;
}

/* Shaded text color */
.text-color-gray-1,
.text-color-gray-1:visited,
.text-color-gray-1:active,
.text-color-gray-1:link {
  color: var(--gray-1) !important;
}
.text-color-gray-2,
.text-color-gray-2:visited,
.text-color-gray-2:active,
.text-color-gray-2:link {
  color: var(--gray-2) !important;
}
.text-color-gray-3,
.text-color-gray-3:visited,
.text-color-gray-3:active,
.text-color-gray-3:link {
  color: var(--gray-3) !important;
}
.text-color-gray-4,
.text-color-gray-4:visited,
.text-color-gray-4:active,
.text-color-gray-4:link {
  color: var(--gray-4) !important;
}
.text-color-gray-5,
.text-color-gray-5:visited,
.text-color-gray-5:active,
.text-color-gray-5:link {
  color: var(--gray-5) !important;
}
.text-color-gray-6,
.text-color-gray-6:visited,
.text-color-gray-6:active,
.text-color-gray-6:link {
  color: var(--gray-6) !important;
}

.text-color-red-1,
.text-color-red-1:visited,
.text-color-red-1:active,
.text-color-red-1:link {
  color: var(--red-1) !important;
}
.text-color-red-2,
.text-color-red-2:visited,
.text-color-red-2:active,
.text-color-red-2:link {
  color: var(--red-2) !important;
}
.text-color-red-3,
.text-color-red-3:visited,
.text-color-red-3:active,
.text-color-red-3:link {
  color: var(--red-3) !important;
}

.text-color-green-1,
.text-color-green-1:visited,
.text-color-green-1:active,
.text-color-green-1:link {
  color: var(--green-1) !important;
}
.text-color-green-2,
.text-color-green-1:visited,
.text-color-green-1:active,
.text-color-green-1:link {
  color: var(--green-2) !important;
}
.text-color-green-3,
:visited,
:active,
:link {
  color: var(--green-3) !important;
}

.text-color-blue-1,
.text-color-blue-1:visited,
.text-color-blue-1:active,
.text-color-blue-1:link {
  color: var(--blue-1) !important;
}
.text-color-blue-2,
.text-color-blue-1:visited,
.text-color-blue-1:active,
.text-color-blue-1:link {
  color: var(--blue-2) !important;
}
.text-color-blue-3,
.text-color-blue-3:visited,
.text-color-blue-3:active,
.text-color-blue-3:link {
  color: var(--blue-3) !important;
}

.text-color-orange-1,
.text-color-orange-1:visited,
.text-color-orange-1:active,
.text-color-orange-1:link {
  color: var(--orange-1) !important;
}
.text-color-orange-2,
.text-color-orange-2:visited,
.text-color-orange-2:active,
.text-color-orange-2:link {
  color: var(--orange-2) !important;
}
.text-color-orange-3,
.text-color-orange-3:visited,
.text-color-orange-3:active,
.text-color-orange-3:link {
  color: var(--orange-3) !important;
}

.text-color-yellow-1,
.text-color-yellow-1:visited,
.text-color-yellow-1:active,
.text-color-yellow-1:link {
  color: var(--yellow-1) !important;
}
.text-color-yellow-2,
.text-color-yellow-2:visited,
.text-color-yellow-2:active,
.text-color-yellow-2:link {
  color: var(--yellow-2) !important;
}
.text-color-yellow-3,
.text-color-yellow-3:visited,
.text-color-yellow-3:active,
.text-color-yellow-3:link {
  color: var(--yellow-3) !important;
}

.text-color-purple-1,
.text-color-purple-1:visited,
.text-color-purple-1:active,
.text-color-purple-1:link {
  color: var(--purple-1) !important;
}
.text-color-purple-2,
.text-color-purple-2:visited,
.text-color-purple-2:active,
.text-color-purple-2:link {
  color: var(--purple-2) !important;
}
.text-color-purple-3,
.text-color-purple-3:visited,
.text-color-purple-3:active,
.text-color-purple-3:link {
  color: var(--purple-3) !important;
}

.text-color-pink-1,
.text-color-pink-1:visited,
.text-color-pink-1:active,
.text-color-pink-1:link {
  color: var(--pink-1) !important;
}
.text-color-pink-2,
.text-color-pink-2:visited,
.text-color-pink-2:active,
.text-color-pink-2:link {
  color: var(--pink-2) !important;
}
.text-color-pink-3,
.text-color-pink-3:visited,
.text-color-pink-3:active,
.text-color-pink-3:link {
  color: var(--pink-3) !important;
}