@import './gradient.css';

/* 
 * Classes
 * -------
 */

/* Disabling color */
.text-color-none,
.text-color-none:visited,
.text-color-none:active,
.text-color-none:link {
  color: none !important;
}

.text-color-inherit,
.text-color-inherit:visited,
.text-color-inherit:active,
.text-color-inherit:link {
  color: inherit !important;
}

/* Unsaturated text color */
.text-color-white,
.text-color-white:visited,
.text-color-white:active,
.text-color-white:link {
  color: var(--white) !important;
}

.text-color-black,
.text-color-black:visited,
.text-color-black:active,
.text-color-black:link {
  color: var(--black) !important;
}

.text-color-gray,
.text-color-gray:visited,
.text-color-gray:active,
.text-color-gray:link {
  color: var(--gray) !important;
}

.text-color-dark,
.text-color-dark:visited,
.text-color-dark:active,
.text-color-dark:link {
  color: var(--dark) !important;
}

.text-color-light,
.text-color-light:visited,
.text-color-light:active,
.text-color-light:link {
  color: var(--light) !important;
}

.text-color-semi-dark,
.text-color-semi-dark:visited,
.text-color-semi-dark:active,
.text-color-semi-dark:link {
  color: var(--semi-dark) !important;
}

.text-color-semi-light,
.text-color-semi-light:visited,
.text-color-semi-light:active,
.text-color-semi-light:link {
  color: var(--semi-light) !important;
}

/* Primary text color */
.text-color-red,
.text-color-red:visited,
.text-color-red:active,
.text-color-red:link {
  color: var(--red) !important;
}

.text-color-green,
.text-color-green:visited,
.text-color-green:active,
.text-color-green:link {
  color: var(--green) !important;
}

.text-color-blue,
.text-color-blue:visited,
.text-color-blue:active,
.text-color-blue:link {
  color: var(--blue) !important;
}

/* Secondary text color */
.text-color-orange,
.text-color-orange:visited,
.text-color-orange:active,
.text-color-orange:link {
  color: var(--orange) !important;
}

.text-color-yellow,
.text-color-yellow:visited,
.text-color-yellow:active,
.text-color-yellow:link {
  color: var(--yellow) !important;
}

.text-color-cyan,
.text-color-cyan:visited,
.text-color-cyan:active,
.text-color-cyan:link {
  color: var(--cyan) !important;
}

.text-color-purple,
.text-color-purple:visited,
.text-color-purple:active,
.text-color-purple:link {
  color: var(--purple) !important;
}

.text-color-pink,
.text-color-pink:visited,
.text-color-pink:active,
.text-color-pink:link {
  color: var(--pink) !important;
}

/* Nuanced text color*/
.text-color-brown,
.text-color-brown:visited,
.text-color-brown:active,
.text-color-brown:link {
  color: var(--brown) !important;
}

.text-color-olive,
.text-color-olive:visited,
.text-color-olive:active,
.text-color-olive:link {
  color: var(--olive) !important;
}

.text-color-ocean,
.text-color-ocean:visited,
.text-color-ocean:active,
.text-color-ocean:link {
  color: var(--ocean) !important;
}

.text-color-lime,
.text-color-lime:visited,
.text-color-lime:active,
.text-color-lime:link {
  color: var(--lime) !important;
}

.text-color-teal,
.text-color-teal:visited,
.text-color-teal:active,
.text-color-teal:link {
  color: var(--teal) !important;
}

.text-color-chocolate,
.text-color-chocolate:visited,
.text-color-chocolate:active,
.text-color-chocolate:link {
  color: var(--chocolate) !important;
}

.text-color-leather,
.text-color-leather:visited,
.text-color-leather:active,
.text-color-leather:link {
  color: var(--leather) !important;
}

.text-color-cream,
.text-color-cream:visited,
.text-color-cream:active,
.text-color-cream:link {
  color: var(--cream) !important;
}

.text-color-peach,
.text-color-peach:visited,
.text-color-peach:active,
.text-color-peach:link {
  color: var(--peach) !important;
}

.text-color-leaf,
.text-color-leaf:visited,
.text-color-leaf:active,
.text-color-leaf:link {
  color: var(--leaf) !important;
}

/* Shaded text color */
.text-color-gray-1,
.text-color-gray-1:visited,
.text-color-gray-1:active,
.text-color-gray-1:link {
  color: var(--gray-1) !important;
}
.text-color-gray-2,
.text-color-gray-2:visited,
.text-color-gray-2:active,
.text-color-gray-2:link {
  color: var(--gray-2) !important;
}
.text-color-gray-3,
.text-color-gray-3:visited,
.text-color-gray-3:active,
.text-color-gray-3:link {
  color: var(--gray-3) !important;
}
.text-color-gray-4,
.text-color-gray-4:visited,
.text-color-gray-4:active,
.text-color-gray-4:link {
  color: var(--gray-4) !important;
}
.text-color-gray-5,
.text-color-gray-5:visited,
.text-color-gray-5:active,
.text-color-gray-5:link {
  color: var(--gray-5) !important;
}
.text-color-gray-6,
.text-color-gray-6:visited,
.text-color-gray-6:active,
.text-color-gray-6:link {
  color: var(--gray-6) !important;
}

.text-color-red-1,
.text-color-red-1:visited,
.text-color-red-1:active,
.text-color-red-1:link {
  color: var(--red-1) !important;
}
.text-color-red-2,
.text-color-red-2:visited,
.text-color-red-2:active,
.text-color-red-2:link {
  color: var(--red-2) !important;
}
.text-color-red-3,
.text-color-red-3:visited,
.text-color-red-3:active,
.text-color-red-3:link {
  color: var(--red-3) !important;
}

.text-color-green-1,
.text-color-green-1:visited,
.text-color-green-1:active,
.text-color-green-1:link {
  color: var(--green-1) !important;
}
.text-color-green-2,
.text-color-green-1:visited,
.text-color-green-1:active,
.text-color-green-1:link {
  color: var(--green-2) !important;
}
.text-color-green-3,
.text-color-green-3:visited,
.text-color-green-3:active,
.text-color-green-3:link {
  color: var(--green-3) !important;
}

.text-color-blue-1,
.text-color-blue-1:visited,
.text-color-blue-1:active,
.text-color-blue-1:link {
  color: var(--blue-1) !important;
}
.text-color-blue-2,
.text-color-blue-1:visited,
.text-color-blue-1:active,
.text-color-blue-1:link {
  color: var(--blue-2) !important;
}
.text-color-blue-3,
.text-color-blue-3:visited,
.text-color-blue-3:active,
.text-color-blue-3:link {
  color: var(--blue-3) !important;
}

.text-color-orange-1,
.text-color-orange-1:visited,
.text-color-orange-1:active,
.text-color-orange-1:link {
  color: var(--orange-1) !important;
}
.text-color-orange-2,
.text-color-orange-2:visited,
.text-color-orange-2:active,
.text-color-orange-2:link {
  color: var(--orange-2) !important;
}
.text-color-orange-3,
.text-color-orange-3:visited,
.text-color-orange-3:active,
.text-color-orange-3:link {
  color: var(--orange-3) !important;
}

.text-color-yellow-1,
.text-color-yellow-1:visited,
.text-color-yellow-1:active,
.text-color-yellow-1:link {
  color: var(--yellow-1) !important;
}
.text-color-yellow-2,
.text-color-yellow-2:visited,
.text-color-yellow-2:active,
.text-color-yellow-2:link {
  color: var(--yellow-2) !important;
}
.text-color-yellow-3,
.text-color-yellow-3:visited,
.text-color-yellow-3:active,
.text-color-yellow-3:link {
  color: var(--yellow-3) !important;
}

.text-color-purple-1,
.text-color-purple-1:visited,
.text-color-purple-1:active,
.text-color-purple-1:link {
  color: var(--purple-1) !important;
}
.text-color-purple-2,
.text-color-purple-2:visited,
.text-color-purple-2:active,
.text-color-purple-2:link {
  color: var(--purple-2) !important;
}
.text-color-purple-3,
.text-color-purple-3:visited,
.text-color-purple-3:active,
.text-color-purple-3:link {
  color: var(--purple-3) !important;
}

.text-color-pink-1,
.text-color-pink-1:visited,
.text-color-pink-1:active,
.text-color-pink-1:link {
  color: var(--pink-1) !important;
}
.text-color-pink-2,
.text-color-pink-2:visited,
.text-color-pink-2:active,
.text-color-pink-2:link {
  color: var(--pink-2) !important;
}
.text-color-pink-3,
.text-color-pink-3:visited,
.text-color-pink-3:active,
.text-color-pink-3:link {
  color: var(--pink-3) !important;
}

.text-color-purple-pink-horizontal,
.text-color-purple-orange-horizontal,
.text-color-orange-yellow-horizontal,
.text-color-ocean-teal-horizontal,
.text-color-green-lime-horizontal,
.text-color-chocolate-leather-horizontal,
.text-color-blue-cyan-horizontal,
.text-color-blue-teal-horizontal,
.text-color-orange-pink-horizontal,
.text-color-purple-blue-horizontal,
.text-color-teal-pink-horizontal,
.text-color-leather-olive-horizontal,
.text-color-red-yellow-horizontal,
.text-color-lime-yellow-horizontal,
.text-color-blue-1-ocean-horizontal,
.text-color-blue-leaf-horizontal,
.text-color-leaf-blue-horizontal,
.text-color-dark-gray-horizontal,
.text-color-black-gray-1-horizontal,
.text-color-snow-white-horizontal,
.text-color-pearl-white-horizontal,
.text-color-pearl-snow-horizontal,
.text-color-blue-1-snow-horizontal,
.text-color-blue-1-gray-horizontal,
.text-color-night-moon-horizontal,
.text-color-black-night-moon-horizontal,
.text-color-purple-pink-vertical,
.text-color-purple-orange-vertical,
.text-color-orange-yellow-vertical,
.text-color-ocean-teal-vertical,
.text-color-green-lime-vertical,
.text-color-chocolate-leather-vertical,
.text-color-blue-cyan-vertical,
.text-color-blue-teal-vertical,
.text-color-orange-pink-vertical,
.text-color-purple-blue-vertical,
.text-color-teal-pink-vertical,
.text-color-leather-olive-vertical,
.text-color-red-yellow-vertical,
.text-color-lime-yellow-vertical,
.text-color-blue-1-ocean-vertical,
.text-color-blue-leaf-vertical,
.text-color-leaf-blue-vertical,
.text-color-dark-gray-vertical,
.text-color-black-gray-1-vertical,
.text-color-snow-white-vertical,
.text-color-pearl-white-vertical,
.text-color-pearl-snow-vertical,
.text-color-blue-1-snow-vertical,
.text-color-blue-1-gray-vertical,
.text-color-night-moon-vertical,
.text-color-black-night-moon-vertical,
.text-color-purple-pink-diagonal,
.text-color-purple-orange-diagonal,
.text-color-orange-yellow-diagonal,
.text-color-ocean-teal-diagonal,
.text-color-green-lime-diagonal,
.text-color-chocolate-leather-diagonal,
.text-color-blue-cyan-diagonal,
.text-color-blue-teal-diagonal,
.text-color-orange-pink-diagonal,
.text-color-purple-blue-diagonal,
.text-color-teal-pink-diagonal,
.text-color-leather-olive-diagonal,
.text-color-red-yellow-diagonal,
.text-color-lime-yellow-diagonal,
.text-color-blue-1-ocean-diagonal,
.text-color-blue-leaf-diagonal,
.text-color-leaf-blue-diagonal,
.text-color-dark-gray-diagonal,
.text-color-black-gray-1-diagonal,
.text-color-snow-white-diagonal,
.text-color-pearl-white-diagonal,
.text-color-pearl-snow-diagonal,
.text-color-blue-1-snow-diagonal,
.text-color-blue-1-gray-diagonal,
.text-color-night-moon-diagonal,
.text-color-black-night-moon-diagonal,
.text-gradient {
  background-clip: text;
  box-decoration-break: clone;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-box-decoration-break: clone;
  -moz-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.text-color-purple-pink-horizontal {
  background-image: var(--purple-pink-horizontal);
}

.text-color-purple-orange-horizontal {
  background-image: var(--purple-orange-horizontal);
}

.text-color-orange-yellow-horizontal {
  background-image: var(--orange-yellow-horizontal);
}

.text-color-ocean-teal-horizontal {
  background-image: var(--ocean-teal-horizontal);
}

.text-color-green-lime-horizontal {
  background-image: var(--green-lime-horizontal);
}

.text-color-chocolate-leather-horizontal {
  background-image: var(--chocolate-leather-horizontal);
}

.text-color-blue-cyan-horizontal {
  background-image: var(--blue-cyan-horizontal);
}

.text-color-blue-teal-horizontal {
  background-image: var(--blue-teal-horizontal);
}

.text-color-orange-pink-horizontal {
  background-image: var(--orange-pink-horizontal);
}

.text-color-purple-blue-horizontal {
  background-image: var(--purple-blue-horizontal);
}

.text-color-teal-pink-horizontal {
  background-image: var(--teal-pink-horizontal);
}

.text-color-leather-olive-horizontal {
  background-image: var(--leather-olive-horizontal);
}

.text-color-red-yellow-horizontal {
  background-image: var(--red-yellow-horizontal);
}

.text-color-lime-yellow-horizontal {
  background-image: var(--lime-yellow-horizontal);
}

.text-color-blue-1-ocean-horizontal {
  background-image: var(--blue-1-ocean-horizontal);
}

.text-color-blue-leaf-horizontal {
  background-image: var(--blue-leaf-horizontal);
}

.text-color-leaf-blue-horizontal {
  background-image: var(--leaf-blue-horizontal);
}

.text-color-dark-gray-horizontal {
  background-image: var(--dark-gray-horizontal);
}

.text-color-black-gray-1-horizontal {
  background-image: var(--black-gray-1-horizontal);
}

.text-color-snow-white-horizontal {
  background-image: var(--snow-white-horizontal);
}

.text-color-pearl-white-horizontal {
  background-image: var(--pearl-white-horizontal);
}

.text-color-pearl-snow-horizontal {
  background-image: var(--pearl-snow-horizontal);
}

.text-color-blue-1-snow-horizontal {
  background-image: var(--blue-1-snow-horizontal);
}

.text-color-blue-1-gray-horizontal {
  background-image: var(--blue-1-gray-horizontal);
}

.text-color-night-moon-horizontal {
  background-image: var(--night-moon-horizontal);
}

.text-color-black-night-moon-horizontal {
  background-image: var(--black-night-moon-horizontal);
}

.text-color-purple-pink-vertical {
  background-image: var(--purple-pink-vertical);
}

.text-color-purple-orange-vertical {
  background-image: var(--purple-orange-vertical);
}

.text-color-orange-yellow-vertical {
  background-image: var(--orange-yellow-vertical);
}

.text-color-ocean-teal-vertical {
  background-image: var(--ocean-teal-vertical);
}

.text-color-green-lime-vertical {
  background-image: var(--green-lime-vertical);
}

.text-color-chocolate-leather-vertical {
  background-image: var(--chocolate-leather-vertical);
}

.text-color-blue-cyan-vertical {
  background-image: var(--blue-cyan-vertical);
}

.text-color-blue-teal-vertical {
  background-image: var(--blue-teal-vertical);
}

.text-color-orange-pink-vertical {
  background-image: var(--orange-pink-vertical);
}

.text-color-purple-blue-vertical {
  background-image: var(--purple-blue-vertical);
}

.text-color-teal-pink-vertical {
  background-image: var(--teal-pink-vertical);
}

.text-color-leather-olive-vertical {
  background-image: var(--leather-olive-vertical);
}

.text-color-red-yellow-vertical {
  background-image: var(--red-yellow-vertical);
}

.text-color-lime-yellow-vertical {
  background-image: var(--lime-yellow-vertical);
}

.text-color-blue-1-ocean-vertical {
  background-image: var(--blue-1-ocean-vertical);
}

.text-color-blue-leaf-vertical {
  background-image: var(--blue-leaf-vertical);
}

.text-color-leaf-blue-vertical {
  background-image: var(--leaf-blue-vertical);
}

.text-color-dark-gray-vertical {
  background-image: var(--dark-gray-vertical);
}

.text-color-black-gray-1-vertical {
  background-image: var(--black-gray-1-vertical);
}

.text-color-snow-white-vertical {
  background-image: var(--snow-white-vertical);
}

.text-color-pearl-white-vertical {
  background-image: var(--pearl-white-vertical);
}

.text-color-pearl-snow-vertical {
  background-image: var(--pearl-snow-vertical);
}

.text-color-blue-1-snow-vertical {
  background-image: var(--blue-1-snow-vertical);
}

.text-color-blue-1-gray-vertical {
  background-image: var(--blue-1-gray-vertical);
}

.text-color-night-moon-vertical {
  background-image: var(--night-moon-vertical);
}

.text-color-black-night-moon-vertical {
  background-image: var(--black-night-moon-vertical);
}

.text-color-purple-pink-diagonal {
  background-image: var(--purple-pink-diagonal);
}

.text-color-purple-orange-diagonal {
  background-image: var(--purple-orange-diagonal);
}

.text-color-orange-yellow-diagonal {
  background-image: var(--orange-yellow-diagonal);
}

.text-color-ocean-teal-diagonal {
  background-image: var(--ocean-teal-diagonal);
}

.text-color-green-lime-diagonal {
  background-image: var(--green-lime-diagonal);
}

.text-color-chocolate-leather-diagonal {
  background-image: var(--chocolate-leather-diagonal);
}

.text-color-blue-cyan-diagonal {
  background-image: var(--blue-cyan-diagonal);
}

.text-color-blue-teal-diagonal {
  background-image: var(--blue-teal-diagonal);
}

.text-color-orange-pink-diagonal {
  background-image: var(--orange-pink-diagonal);
}

.text-color-purple-blue-diagonal {
  background-image: var(--purple-blue-diagonal);
}

.text-color-teal-pink-diagonal {
  background-image: var(--teal-pink-diagonal);
}

.text-color-leather-olive-diagonal {
  background-image: var(--leather-olive-diagonal);
}

.text-color-red-yellow-diagonal {
  background-image: var(--red-yellow-diagonal);
}

.text-color-lime-yellow-diagonal {
  background-image: var(--lime-yellow-diagonal);
}

.text-color-blue-1-ocean-diagonal {
  background-image: var(--blue-1-ocean-diagonal);
}

.text-color-blue-leaf-diagonal {
  background-image: var(--blue-leaf-diagonal);
}

.text-color-leaf-blue-diagonal {
  background-image: var(--leaf-blue-diagonal);
}

.text-color-dark-gray-diagonal {
  background-image: var(--dark-gray-diagonal);
}

.text-color-black-gray-1-diagonal {
  background-image: var(--black-gray-1-diagonal);
}

.text-color-snow-white-diagonal {
  background-image: var(--snow-white-diagonal);
}

.text-color-pearl-white-diagonal {
  background-image: var(--pearl-white-diagonal);
}

.text-color-pearl-snow-diagonal {
  background-image: var(--pearl-snow-diagonal);
}

.text-color-blue-1-snow-diagonal {
  background-image: var(--blue-1-snow-diagonal);
}

.text-color-blue-1-gray-diagonal {
  background-image: var(--blue-1-gray-diagonal);
}

.text-color-night-moon-diagonal {
  background-image: var(--night-moon-diagonal);
}

.text-color-black-night-moon-diagonal {
  background-image: var(--black-night-moon-diagonal);
}