/* 
 * Colors & Props
 * --------------
 */
:root {
  /* Colors */
  --shadow-1: #0000001F;
  --shadow-2: #0000001A;
  --shadow-3: #00000005;

  /* Properties */
  --super-close-shadow: 0px 2px 4px var(--shadow-2);
  --close-shadow: 0px 4px 5px var(--shadow-2);
  --medium-shadow: 0px 2px 15px var(--shadow-2);
  --wide-shadow: 0px 0px 30px var(--shadow-2);
}

/*
 * Classes
 * -------
 */
.medium-shadow {
  -webkit-box-shadow: var(--medium-shadow);
  -moz-box-shadow: var(--medium-shadow);
  box-shadow: var(--medium-shadow);
}

.close-shadow {
  -webkit-box-shadow: var(--close-shadow);
  -moz-box-shadow: var(--close-shadow);
  box-shadow: var(--close-shadow);
}

.super-close-shadow {
  -webkit-box-shadow: var(--close-shadow);
  -moz-box-shadow: var(--close-shadow);
  box-shadow: var(--close-shadow);
}

.wide-shadow {
  -webkit-box-shadow: var(--wide-shadow);
  -moz-box-shadow: var(--wide-shadow);
  box-shadow: var(--wide-shadow);
}