@import '../colors/index.css';

/* 
 * Classes
 * -------
 */

/* Unsaturated text color */
.color-white {
  color: var(--white);
}

.color-black {
  color: var(--black);
}

.color-gray {
  color: var(--blue);
}

.color-dark {
  color: var(--dark);
}

.color-light {
  color: var(--light);
}

/* Primary text color */
.color-red {
  color: var(--red);
}

.color-green {
  color: var(--green);
}

.color-blue {
  color: var(--blue);
}

/* Secondary text color */
.color-orange {
  color: var(--orange);
}

.color-yellow {
  color: var(--yellow);
}

.color-cyan {
  color: var(--cyan);
}

.color-purple {
  color: var(--purple);
}

.color-pink {
  color: var(--pink);
}

/* Nuanced text color*/
.color-brown {
  color: var(--brown);
}

.color-olive {
  color: var(--olive);
}

.color-ocean {
  color: var(--ocean);
}

.color-lime {
  color: var(--lime);
}

.color-teal {
  color: var(--teal);
}

.color-chocolate {
  color: var(--chocolate);
}

.color-leather {
  color: var(--leather);
}

.color-cream {
  color: var(--cream);
}

.color-peach {
  color: var(--peach);
}

.color-leaf {
  color: var(--leaf);
}