@import 'font-faces.css';

/* 
 * Props
 * -----
 */
 :root {
  /* Global */
  --font-family: 'Avenir Next', 'Avenir', 'Calibri', Tahoma, Arial, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
  --fat-font-family: 'Arial Black', var(--font-family);
  --handwriting-font-family: 'Caveat', var(--font-family);
  --comic-font-family: 'Anime Ace', var(--font-family);
  --default-font-family: var(--font-family);
 }

/* 
 * Classes
 * -------
 */
 .default-font-family {
  font-family: var(--default-font-family);
}

.fat {
  font-family: var(--fat-font-family);
}

.handwriting {
  font-family: var(--handwriting-font-family);
}

.comic {
  font-family: var(--comic-font-family);
}