/* 
 * Classes
 * -------
 */
.line-height-80-percent {
  line-height: 80%;
}

.line-height-90-percent {
  line-height: 90%;
}

.line-height-100-percent {
  line-height: 100%;
}

.line-height-110-percent {
  line-height: 110%;
}

.line-height-120-percent {
  line-height: 120%;
}

.line-height-130-percent {
  line-height: 130%;
}

.line-height-140-percent {
  line-height: 140%;
}

.line-height-150-percent {
  line-height: 150%;
}

.line-height-160-percent {
  line-height: 160%;
}

.line-height-170-percent {
  line-height: 170%;
}

.line-height-180-percent {
  line-height: 180%;
}

.line-height-190-percent {
  line-height: 190%;
}

.line-height-200-percent {
  line-height: 200%;
}

.line-height-210-percent {
  line-height: 210%;
}

.line-height-220-percent {
  line-height: 220%;
}

.line-height-230-percent {
  line-height: 230%;
}

.line-height-240-percent {
  line-height: 240%;
}

.line-height-250-percent {
  line-height: 250%;
}