@import '../colors/index.css';

/* 
 * Classes
 * -------
 */

/* Unsaturated text color */
.text-color-white {
  color: var(--white);
}

.text-color-black {
  color: var(--black);
}

.text-color-gray {
  color: var(--blue);
}

.text-color-dark {
  color: var(--dark);
}

.text-color-light {
  color: var(--light);
}

/* Primary text color */
.text-color-red {
  color: var(--red);
}

.text-color-green {
  color: var(--green);
}

.text-color-blue {
  color: var(--blue);
}

/* Secondary text color */
.text-color-orange {
  color: var(--orange);
}

.text-color-yellow {
  color: var(--yellow);
}

.text-color-cyan {
  color: var(--cyan);
}

.text-color-purple {
  color: var(--purple);
}

.text-color-pink {
  color: var(--pink);
}

/* Nuanced text color*/
.text-color-brown {
  color: var(--brown);
}

.text-color-olive {
  color: var(--olive);
}

.text-color-ocean {
  color: var(--ocean);
}

.text-color-lime {
  color: var(--lime);
}

.text-color-teal {
  color: var(--teal);
}

.text-color-chocolate {
  color: var(--chocolate);
}

.text-color-leather {
  color: var(--leather);
}

.text-color-cream {
  color: var(--cream);
}

.text-color-peach {
  color: var(--peach);
}

.text-color-leaf {
  color: var(--leaf);
}