@import '../sizes/sizes.css';
@import 'font-faces.css';
@import '../colors/index.css';

/* 
 * Font styles
 * -----------
 */

 :root {
  /* Global */
  --font-family: 'Avenir Next', 'Avenir', 'Calibri', Tahoma, Arial, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, sans-serif;
  --fat-font-family: 'Arial Black', var(--font-family);
  --handwriting-font-family: 'Caveat', var(--font-family);
  --comic-font-family: 'Anime Ace', var(--font-family);
  --font-size: var(--size-14-16);
  --h0-font-size: var(--size-27-42);
  --h1-font-size: var(--size-24-36);
  --h2-font-size: var(--size-22-28);
  --h3-font-size: var(--size-20-24);
  --h4-font-size: var(--size-18-20);
  --h5-font-size: var(--size-16-18);
  --h6-font-size: var(--size-14-16);

  /* Specific font sizes */
  --font-size-title: var(--size-48-64);
  --font-size-heading: var(--size-40-48);
  --font-size-section: var(--size-16-18);
  --font-size-subsection: var(--size-14-16);
  --font-size-text: var(--size-14-16);
  --font-size-quote: var(--size-text);
  --font-size-legend: var(--size-12-14);
  --font-size-link: var(--size-text);
  --font-size-button: var(--size-12-14);
  --font-size-pill: var(--size-10-12);

  /* Vertical trim */
  --vertical-trim-top: calc(-14 / 72 * 1em);
  --vertical-trim-bottom: calc(-3.2 / 72 * 1em);
  --fat-vertical-trim-top: calc(-21 / 72 * 1em);
  --fat-vertical-trim-bottom: calc(-13 / 72 * 1em);
}

/* Generic font */
* {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

/* Dynamic header styles and font sizes */
h1.large {
  font-size: var(--h0-font-size);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

/* Text align classes */
h1.left,
h2.left,
h3.left,
h4.left,
h5.left,
h6.left,
p.left,
span.left,
i.left,
b.left,
a.left,
strong.left,
td.left,
.text-align-left {
  text-align: left;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center,
p.center,
span.center,
i.center,
b.center,
a.center,
strong.center,
td.center,
.text-align-center {
  text-align: center;
}

h1.right,
h2.right,
h3.right,
h4.right,
h5.right,
h6.right,
p.right,
span.right,
i.right,
b.right,
a.right,
strong.right,
td.right,
.text-align-right {
  text-align: right;
}

h1.justify,
h2.justify,
h3.justify,
h4.justify,
h5.justify,
h6.justify,
p.justify,
span.justify,
i.justify,
b.justify,
a.justify,
strong.justify,
td.justify,
.text-align-justify {
  text-align: justify;
}

/* Font weight */
.ultra-thin {
  font-weight: 100;
}

.thin {
  font-weight: 200;
}

.semi-thin {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.ultra-bold {
  font-weight: 800;
}

.heavy {
  font-weight: 900;
}

.fat {
  font-family: var(--fat-font-family);
}

.handwriting {
  font-family: var(--handwriting-font-family);
}

.comic {
  font-family: var(--comic-font-family);
}

/* Font style */
.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

/* Line height */
.line-height-80 {
  line-height: 80%;
}

.line-height-90 {
  line-height: 90%;
}

.line-height-100 {
  line-height: 100%;
}

.line-height-110 {
  line-height: 110%;
}

.line-height-120 {
  line-height: 120%;
}

.line-height-130 {
  line-height: 130%;
}

.line-height-140 {
  line-height: 140%;
}

.line-height-150 {
  line-height: 150%;
}

/* Text decorations */
.underline {
  text-decoration-line: underline;
}

.overline {
  text-decoration-line: overline;
}

.underline.overline,
.overline.underline {
  text-decoration-line: underline overline;
}

.line-through {
  text-decoration-line: line-through;
}

.blink {
  text-decoration-line: blink;
}

.dotted {
  text-decoration-style: dotted;
}

.wavy {
  text-decoration-style: wavy;
}

.double {
  text-decoration-style: double;
}

.dashed {
  text-decoration-style: dashed;
}

/* Text wrap */
.balance {
  text-wrap: balance;
}

.nowrap {
  text-wrap: nowrap;
  white-space: nowrap;
}

.wrap {
  text-wrap: wrap;
}

.pretty {
  text-wrap: pretty;
}

.stable {
  text-wrap: stable;
}

/* Text transfrom */
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* Text overflow */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.clip {
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

/* Font trim for Avenir Next on nav buttons */
.vertical-trim:after {
  content: '';
  margin-top: var(--vertical-trim-top);
  display: table;
}

.vertical-trim:before {
  content: '';
  margin-top: var(--vertical-trim-bottom);
  display: table;
}

/* Font trim for Arial Black on buttons */
.fat.vertical-trim:after {
  content: '';
  margin-top: var(--fat-vertical-trim-top);
  display: table;
}

.fat.vertical-trim:before {
  content: '';
  margin-bottom: var(--fat-vertical-trim-bottom);
  display: table;
}

/* Font sizes */
.font-size-96-128 {
  font-size: var(--size-96-128);
}

.font-size-64-96 {
  font-size: var(--size-64-96);
}

.font-size-48-64 {
  font-size: var(--size-48-64);
}

.font-size-40-48 {
  font-size: var(--size-40-48);
}

.font-size-36-44 {
  font-size: var(--size-36-44);
}

.font-size-32-40 {
  font-size: var(--size-32-40);
}

.font-size-28-36 {
  font-size: var(--size-28-36);
}

.font-size-24-32 {
  font-size: var(--size-24-32);
}

.font-size-22-28 {
  font-size: var(--size-22-28);
}

.font-size-20-24 {
  font-size: var(--size-20-24);
}

.font-size-18-20 {
  font-size: var(--size-18-20);
}

.font-size-16-18 {
  font-size: var(--size-16-18);
}

.font-size-14-16 {
  font-size: var(--size-14-16);
}

.font-size-12-14 {
  font-size: var(--size-12-14);
}

.font-size-10-12 {
  font-size: var(--size-10-12);
}

.font-size-8-10 {
  font-size: var(--size-8-10);
}

.font-size-6-8 {
  font-size: var(--size-6-8);
}

  /* Unsaturated text color */
.color-white {
  color: var(--white);
}

.color-black {
  color: var(--black);
}

.color-gray {
  color: var(--blue);
}

.color-dark {
  color: var(--dark);
}

.color-light {
  color: var(--light);
}

/* Primary text color */
.color-red {
  color: var(--red);
}

.color-green {
  color: var(--green);
}

.color-blue {
  color: var(--blue);
}

/* Secondary text color */
.color-orange {
  color: var(--orange);
}

.color-yellow {
  color: var(--yellow);
}

.color-cyan {
  color: var(--cyan);
}

.color-purple {
  color: var(--purple);
}

.color-pink {
  color: var(--pink);
}

/* Nuanced text color*/
.color-brown {
  color: var(--brown);
}

.color-olive {
  color: var(--olive);
}

.color-ocean {
  color: var(--ocean);
}

.color-lime {
  color: var(--lime);
}

.color-teal {
  color: var(--teal);
}

.color-chocolate {
  color: var(--chocolate);
}

.color-leather {
  color: var(--leather);
}

.color-cream {
  color: var(--cream);
}

.color-peach {
  color: var(--peach);
}

.color-leaf {
  color: var(--leaf);
}