@import '../common.css';

.overlay {
  /* Position */
  position: fixed;
  left: 0;
  top: 0;
  /* Sizes */
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  /* Alignment */
  display: none;
  flex-direction: column;
  margin: 0;
  padding: var(--padding-vertical) var(--padding-horizontal);
  gap: var(--gap);
  /* Appearance */
  overflow: hidden;
  border: 0;
  background: #000000C1;
  backdrop-filter: blur(30px);
  opacity: 0;
  pointer-events: none;
  cursor: default;
  /* animation */
  transition: var(--transition-time);
}

.overlay.display {
  display: flex;
}

.overlay.opened {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.overlay.opened.cancelable {
  cursor: pointer;
}

.overlay.light {
  background: #FFFFFFAA;
}