@import "../../core/animation.css";
@import "../../core/spacing.css";

.overlay {
  /* Position */
  position: fixed;
  left: 0;
  top: 0;
  /* Sizes */
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  /* Alignment */
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: var(--padding-vertical) var(--padding-horizontal);
  gap: var(--gap);
  /* Appearance */
  overflow: hidden;
  border: 0;
  background: #000000AA;
  backdrop-filter: blur(30px);
  opacity: 0;
  pointer-events: none;
  /* animation */
  transition: var(--transition-time);
}

.overlay.opened {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.overlay.light {
  background: #FFFFFFAA;
}