@import './overlay.css';

.overlay .menu {
  /* Position */
  position: absolute;
  top: 0;
  right: calc(-1 * min(30dvw, 200px));
  /* Alignment */
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--safearea-top) + var(--padding-vertical-half));
  padding-bottom: calc(var(--safearea-bottom) + var(--padding-vertical-half));
  padding-left: var(--padding-horizontal-half);
  padding-right: calc(var(--safearea-right) + var(--padding-horizontal-half));
  gap: var(--gap-half);
  /* Sizes */
  height: 100%;
  /* Appearance */
  border: 0;
  pointer-events: none;
  /* animation */
  transition: var(--transition-time);
}

/* Button in the menu */
.overlay .menu .button {
  font-family: var(--font-family);
  text-transform: capitalize;
}

/* Style when the menu opens */
.overlay .menu.opened {
  right: 0;
  pointer-events: auto;
  cursor: default;
}

/* Left align menu */
.overlay .menu.left {
  left: calc(-1 * min(30dvw, 200px));
  right: auto;
}

.overlay .menu.opened.left {
  left: 0;
  pointer-events: auto;
  cursor: default;
}