@import '../common.css';

:root {
  --overlay-padding-top: var(--padding-top-half);
  --overlay-padding-left: var(--padding-left-half);
  --overlay-padding-bottom: var(--padding-bottom-half);
  --overlay-padding-right: var(--padding-right-half);
  --overlay-padding: var(--overlay-padding-top) var(--overlay-padding-left) var(--overlay-padding-bottom) var(--overlay-padding-right);

  /* Safe area */
  --overlay-safearea-padding-top: calc(var(--safearea-top) + var(--overlay-padding-top));
  --overlay-safearea-padding-left: calc(var(--safearea-left) + var(--overlay-padding-left));
  --overlay-safearea-padding-bottom: calc(var(--safearea-bottom) + var(--overlay-padding-bottom));
  --overlay-safearea-padding-right: calc(var(--safearea-right) + var(--overlay-padding-right));
  --overlay-safearea-padding: var(--overlay-safearea-padding-top) var(--overlay-safearea-padding-left) var(--overlay-safearea-padding-bottom) var(--overlay-safearea-padding-right);
}

.overlay {
  /* Position */
  position: fixed;
  left: 0;
  top: 0;
  /* Sizes */
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  /* Alignment */
  display: none;
  flex-direction: column;
  margin: 0;
  /* padding: var(--overlay-padding); */
  gap: var(--gap);
  /* Appearance */
  overflow: hidden;
  border: 0;
  background: #000000AA;
  backdrop-filter: blur(30px);
  opacity: 0;
  pointer-events: none;
  cursor: default;
  /* animation */
  transition: var(--transition-time);
}

.overlay.safearea {
  /* padding: var(--overlay-safearea-padding); */
}

.overlay.display {
  display: flex;
}

.overlay.opened {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.overlay.opened.cancelable {
  cursor: pointer;
}

.overlay.light {
  background: #FFFFFFAA;
}