@import "overlay.css";

.overlay .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: calc(-1 * min(30vw, 100px));
  height: 100%;
  margin: 0;
  border: 0;
  padding-top: calc(var(--safe-area-top) + var(--padding-vertical-half));
  padding-bottom: calc(var(--safe-area-bottom) + var(--padding-vertical-half));
  padding-left: var(--padding-horizontal-half);
  padding-right: calc(var(--safe-area-right) + var(--padding-horizontal-half));
  gap: var(--gap-half);
  pointer-events: none;
  /* animation */
  transition: var(--transition-time);
}

.overlay .menu.opened {
  right: 0;
  pointer-events: auto;
  cursor: pointer;
}