@import "touchable.css";
@import "../../core/spacing.css";

/* 
 * Props
 * -----
 */
:root {
  /* Properties */
  --button-border-radius: var(--border-radius);
  --button-border-radius-round: var(--border-radius-round);
  --button-border-radius-square: var(--border-radius-square);
}

/* 
 * Classes
 * -------
 */
button,
input[type=submit],
input[type=button],
input[type=reset],
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--size-32-40);
  min-height: var(--size-32-40);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  /* -webkit-leading-trim: both;
  -webkit-text-edge: both;
  -webkit-text-box-trim: both;
  -webkit-text-box-edge: cap alphabetic;
  leading-trim: both;
  text-edge: cap alphabetic;
  text-box-trim: both;
  text-box-edge: cap alphabetic; */
  vertical-align: middle;
}

/* Large button */
button.large,
input[type=submit].large,
input[type=button].large,
input[type=reset].large,
.button.large {
  min-width: var(--size-40-48);
  min-height: var(--size-40-48);
  padding: calc(var(--button-padding-vertical) + 2px) calc(var(--button-padding-horizontal) + 2px);
}

/* Small button and nav button */
nav button,
nav .button,
.navbar button,
.navbar .button,
button.small,
input[type=submit].small,
input[type=button].small,
input[type=reset].small,
.button.small {
  min-width: var(--size-24-32);
  min-height: var(--size-24-32);
  border-radius: max(calc(var(--button-border-radius) - 2px), 0px);
  padding: calc(var(--button-padding-vertical) - 2px) calc(var(--button-padding-horizontal) - 2px);
}

/* Round button */
button.round,
input[type=submit].round,
input[type=button].round,
input[type=reset].round,
.button.round,
button.small.round,
input[type=submit].small.round,
input[type=button].small.round,
input[type=reset].small.round,
.button.small.round {
  border-radius: var(--button-border-radius-round);
}

/* Square button */
button.square,
input[type=submit].square,
input[type=button].square,
input[type=reset].square,
.button.square {
  border-radius: var(--button-border-radius-square);
}

nav button.square,
.navbar button.square,
nav .button.square,
.navbar .button.square,
button.small.square,
input[type=submit].small.square,
input[type=button].small.square,
input[type=reset].small.square,
.button.small.square {
  border-radius: max(calc(var(--button-border-radius-square) - 2px), 0px);
}