@import '../common.css';

/* 
 * Props
 * -----
 */
:root {
  /* Button properties */
  --button-border-radius: var(--border-radius);
  --button-border-radius-round: var(--border-radius-round);
  --button-border-radius-square: var(--border-radius-square);
  --button-padding-horizontal: 12px;
  --button-padding-vertical: 8px;
  --button-gap: 8px;
  --button-font-family: var(--fat-font-family);
  --button-font-size: var(--size-14-16);
  --button-letter-spacing: 0.1em;
  --button-min-height: var(--size-32-40);
  --button-large-min-height: var(--size-40-48);
  --button-small-min-height: var(--size-24-32);
  --button-bulky-min-height: var(--size-64-72);
  /* Pill properties */
  --pill-padding-horizontal: 10px;
  --pill-padding-vertical: 6px;
  --pill-border-radius: var(--border-radius-round);
  --pill-border-radius-square: var(--border-radius-half);
  --pill-font-family: var(--fat-font-family);
  --pill-font-size: var(--size-10-12);
  --pill-letter-spacing: 0.1em;
  /* Notification offset */
  --button-notifiction-size: var(--size-8-10);
  --button-notification-offset: calc(4px - var(--size-0-8));
  --button-notification-border-radius: 1000px;
}

/* 
 * Classes
 * -------
 */
.button {
  /* Display */
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  border: 0;
  background: none;
  /* Alignment */
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  gap: var(--button-gap);
  /* Size and spacing */
  min-width: var(--button-min-height);
  min-height: var(--button-min-height);
  width: fit-content;
  block-size: fit-content;
  border-radius: var(--button-border-radius);
  /* padding: var(--button-padding-vertical) var(--button-padding-horizontal); */
  /* Font */
  letter-spacing: var(--button-letter-spacing);
  text-wrap: balance;
  text-decoration: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
  /* To prevent long press text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* pointer event */
  pointer-events: auto;
  /* animation */
  transition: var(--transition-time);
}

.button:not(.button[class*='font-size-']) {
  font-size: var(--button-font-size);
}

.button:not(.ultra-thin):not(.thin):not(.semi-thin):not(.regular):not(.medium):not(.semi-bold):not(.bold):not(.ultra-bold):not(.heavy) {
  font-weight: 600;
}

.button * {
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  font-family: inherit;
  text-wrap: inherit;
  white-space: inherit;
  transition: all var(--transition-time);
}

.button.padding-none {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.button.padding-vertical-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.button.padding-horizontal-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.button.disabled {
  pointer-events: none !important;
}

/* Hover, only for non-touchable devices */
@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  .button:not(.button:disabled):hover {
    opacity: 0.8;
  }

  .button:hover {
    color: inherit;
  }

  .button:hover:active,
  .button:active:hover {
    opacity: 1;
  }
}

.button:active {
  opacity: 1;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button, .button:visited, .button:active, .button:link {
  color: inherit;
}

.button.width-100-percent,
.button.width-full,
.button.fill {
  width: 100%;
}

/* Large button */
.button.large {
  min-width: var(--button-large-min-height);
  min-height: var(--button-large-min-height);
  padding: calc(var(--button-padding-vertical) + 2px) calc(var(--button-padding-horizontal) + 2px);
  font-size: calc(var(--button-font-size) + 2px);
}

/* Small button */
.button.small {
  min-width: var(--button-small-min-height);
  min-height: var(--button-small-min-height);
  border-radius: max(calc(var(--button-border-radius) - 2px), 0px);
  padding: calc(var(--button-padding-vertical) - 2px) calc(var(--button-padding-horizontal) - 2px);
  font-size: calc(var(--button-font-size) - 2px);
}

/* Bulky button */
.button.bulky {
  min-width: var(--button-bulky-min-height);
  min-height: var(--button-bulky-min-height);
  padding: calc(var(--button-padding-vertical) + 4px) calc(var(--button-padding-horizontal) + 4px);
  font-size: calc(var(--button-font-size) + 2px);
}

/* Round button */
.button.round,
.button.small.round {
  border-radius: var(--button-border-radius-round);
}

/* Square button */
.button.square {
  border-radius: var(--button-border-radius-square);
}

.button.small.square {
  border-radius: max(calc(var(--button-border-radius-square) - 2px), 0px);
}

.button.bulky.square {
  border-radius: 0;
}

/* Pill */
.button.pill {
  border-radius: var(--pill-border-radius);
  padding: var(--pill-padding-vertical) var(--pill-padding-horizontal);
  font-family: var(--pill-font-family);
  font-size: var(--pill-font-size);
  letter-spacing: var(--pill-letter-spacing);
}

/* Large pill */
.button.pill.large {
  min-width: var(--size-40-48);
  min-height: var(--size-40-48);
  padding: calc(var(--pill-padding-vertical) + 2px) calc(var(--pill-padding-horizontal) + 2px);
  font-size: calc(var(--pill-font-size) + 2px);
}

/* Small pill */
.button.pill.small {
  padding: calc(var(--pill-padding-vertical) - 2px) calc(var(--pill-padding-horizontal) - 2px);
  font-size: calc(var(--pill-font-size) - 2px);
}

/* Square pill */
.button.pill.square {
  border-radius: var(--pill-border-radius-square);
}

/* Notification */
.button.notification,
.button.error-notification,
.button.warning-notification,
.button.success-notification,
.button.info-notification,
.button.light-notification,
.button.dark-notification {
  position: relative;
  overflow: visible;
}

.button.notification::after,
.button.error-notification::after,
.button.warning-notification::after,
.button.success-notification::after,
.button.info-notification::after,
.button.light-notification::after,
.button.dark-notification::after {
  content: '';
  width: var(--button-notifiction-size);
  height: var(--button-notifiction-size);
  background: var(--red);
  border-radius: var(--button-notification-border-radius);
  position: absolute;
  top: var(--button-notification-offset);
  right: var(--button-notification-offset);
}

.button.warning-notification::after {
  background: var(--orange);
}

.button.success-notification::after {
  background: var(--green);
}

.button.info-notification::after {
  background: var(--blue);
}

.button.light-notification::after {
  background: var(--light);
}

.button.dark-notification::after {
  background: var(--dark);
}