.chat-bubble-container {
  width: 100%;
  gap: var(--text-gap);
  overflow-x: visible;
}

.chat-bubble-container:has(.chat-bubble.user) {
  padding-left: 10%;
}
.chat-bubble-container:has(.chat-bubble:not(.user)) {
  padding-right: 10%;
}

.chat-bubble {
  border-radius: var(--chat-bubble-border-radius);
  overflow: hidden;
  padding: var(--padding-half);
}

.chat-bubble.shadow {
  --_shadow: 4px 4px 10px #0000001A;
  -webkit-box-shadow: var(--_shadow);
  -moz-box-shadow: var(--_shadow);
  box-shadow: var(--_shadow);
}

.chat-bubble.user {
  --_shadow: -4px 4px 10px #0000001A;
}

.chat-bubble.end:not(.user) {
  border-bottom-left-radius: 4px;
}

.chat-bubble.end.user {
  border-bottom-right-radius: 4px;
}

.chat-bubble-info {
  opacity: 0.5;
  font-size: var(--size-10-12);
}