:root {
  --chatbot-image-size: calc(min(375px, var(--viewport-width)) * 0.256);
}

:root.viewport-scaled,
:root:has(body.viewport-scaled) {
  --chatbot-image-size: calc(min(375px, var(--viewport-width)) * 0.256 * var(--vs));
}

.chatbot-image-container {
  overflow: hidden;
  width: var(--chatbot-image-size);
  height: var(--chatbot-image-size);
  border-radius: var(--border-radius-round);
}

.chatbot-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}