.chat-bubble-container {
  width: 100%;
  gap: var(--text-gap);
  overflow-x: visible;
}

.chat-bubble-container:has(.chat-bubble.user) {
  padding-left: 10%;
}
.chat-bubble-container:has(.chat-bubble:not(.user)) {
  padding-right: 10%;
}

.chat-bubble {
  border-radius: var(--chat-bubble-border-radius);
  overflow: hidden;
  padding: var(--padding-half);
}

.chat-bubble.shadow {
  --_shadow: 4px 4px 10px #0000001A;
  -webkit-box-shadow: var(--_shadow);
  -moz-box-shadow: var(--_shadow);
  box-shadow: var(--_shadow);
}

.chat-bubble.shadow.user {
  --_shadow: -4px 4px 10px #0000001A;
}

.chat-bubble.end:not(.user) {
  border-bottom-left-radius: 4px;
}

.chat-bubble.end.user {
  border-bottom-right-radius: 4px;
}

.chat-bubble-image-container {
  --_size: calc(0.3 * min(var(--viewport-width), var(--viewport-height)));
  width: var(--_size);
  height: var(--_size);
}

:has(.scaled) body .chat-bubble-image-container,
body.scaled {
  --_size: calc(0.3 * min(var(--viewport-width-scaled), var(--viewport-height-scaled)));
}

.chat-bubble-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: calc(0.5 * var(--chat-bubble-border-radius));
  overflow: hidden;
}

.chat-bubble-info {
  opacity: 0.5;
  font-size: var(--size-10-12);
}