:root {
  --chat-bubble-border-radius: var(--border-radius-4x);
}

.chat-bubble-container {
  width: 100%;
  gap: var(--text-gap);
  overflow-x: visible;
}

.chat-bubble-container:has(.chat-bubble.user) {
  padding-left: 20%;
}
.chat-bubble-container:has(.chat-bubble:not(.user)) {
  padding-right: 20%;
}

.chat-bubble {
  border-radius: 4px;
  overflow: hidden;
  padding: var(--padding-half);
  --_shadow: 4px 4px 10px #00000022;
  -webkit-box-shadow: var(--_shadow);
  -moz-box-shadow: var(--_shadow);
  box-shadow: var(--_shadow);
}

.chat-bubble.user {
  --_shadow: -4px 4px 10px #00000022;
}

.chat-bubble.start {
  border-top-left-radius: var(--chat-bubble-border-radius);
  border-top-right-radius: var(--chat-bubble-border-radius);
}

.chat-bubble.end:not(.user) {
  border-bottom-right-radius: var(--chat-bubble-border-radius);
}

.chat-bubble.end.user {
  border-bottom-left-radius: var(--chat-bubble-border-radius);
}

.chat-bubble-info {
  opacity: 0.5;
  font-size: var(--size-10-12);
}