@import "../../core/spacing.css";

/* 
 * Props
 * -----
 */
 :root {
  /* Properties */
  --icon-size: var(--size-18-24);
  --icon-size-half: calc(0.5 * var(--icon-size));
  --nav-icon-size: 18px;
  --nav-icon-size-half: calc(0.5 * var(--nav-icon-size));
  --nav-icon-size-2x: calc(2 * var(--nav-icon-size));
}

/* 
 * Classes
 * -------
 */
.icon {
  height: var(--icon-size);
}

/* For icons that are buttons as well */
button.icon,
input[type=submit].icon,
input[type=button].icon,
input[type=reset].icon,
.touchable.icon,
.pill.icon,
.button.icon {
  padding: 0;
  min-width: auto;
  min-height: auto;
}



/* Icons in the navbar */
nav .icon,
.navbar .icon {
  height: var(--nav-icon-size-2x);
  padding: var(--nav-icon-size-half);
}

/* Last icon in the navbar */
nav *:last-child > .icon,
nav > .icon:last-child,
.navbar *:last-child > .icon,
.navbar > .icon:last-child {
  margin-right: calc(-1 * var(--nav-icon-size-half));
}

/* BACK and NEXT button in the navbar */
nav .back .icon,
nav .next .icon,
.navbar .back .icon,
.navbar .next .icon {
  height: var(--nav-icon-size);
  padding: 0;
  margin: 0;
}