@import '../common.css';

/* 
 * Props
 * -----
 */
 :root {
  /* Properties */
  --icon-size: var(--size-18-24);
  --icon-size-half: calc(0.5 * var(--icon-size));
  --icon-size-small: var(--size-12-18);
  --icon-size-large: var(--size-24-32);
}

/* 
 * Classes
 * -------
 */
.icon {
  height: var(--icon-size);
  min-width: auto;
  min-height: auto;
  width: auto;
  /* aspect-ratio: 1 / 1; */
  padding: 0;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--icon-size);
}

.icon.small {
  height: var(--icon-size-small);
}

.icon.large {
  height: var(--icon-size-large);
}