@import "../../core/animation.css";
@import "../../core/spacing.css";
@import "../../core/typography.css";

/* 
 * Props
 * -----
 */
 :root {
  /* Properties */
  --input-padding: var(--padding);
  --input-padding-vertical: var(--button-padding-vertical);
  --input-padding-horizontal: var(--button-padding-horizontal);
  --input-border-radius: var(--border-radius);
  --input-border-radius-square: var(--border-radius-square);
  --input-border-radius-round: var(--border-radius-round);
}

/* Generic classes */
/* Prevent outline with chrome, remove embossing */
input,
textarea,
select,
.input {
  outline: none;
  border: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 
 * Classes
 * -------
 */
input:not([type=submit]):not(input[type=reset]):not([type=button]),
textarea,
.input {
  width: 100%;
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
  border-radius: var(--input-border-radius);
  opacity: 0.8;
  /* animation */
  transition: var(--transition-time)
}

input:hover:not([type=submit]):not(input[type=reset]):not([type=button]),
textarea:hover,
.input:hover,
input:focus:not([type=submit]):not(input[type=reset]):not([type=button]),
textarea:focus,
.input:focus {
  opacity: 1;
}

input:not([type=submit]):not(input[type=reset]):not([type=button]).square,
textarea.square,
.input.square {
  border-radius: var(--input-border-radius-square);
}

input:not([type=submit]):not(input[type=reset]):not([type=button]).round,
textarea.round,
.input.round {
  border-radius: var(--input-border-radius-round);
}