@import '../common.css';

/* 
 * Classes
 * -------
 */
.link {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 1;
  /* Appearance */
  text-decoration: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
  /* pointer event */
  pointer-events: auto;
  /* annimation */
  transition: var(--transition-time);
}

.link.dotted {
  text-decoration: underline dotted;
  -webkit-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
}

/* Link statuses */
.link, .link:visited, .link:active {
  color: inherit;
  font-size: inherit;
}

.link:disabled {
  opacity: 0.8;
  text-decoration: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
}

@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  .link:hover {
    color: inherit;
    font-size: inherit;
    opacity: 0.8;
    text-decoration: none;
    -webkit-decoration: none;
    -webkit-text-decoration: none;
  }

  .link:active:hover,
  .link:hover:active {
    opacity: 1;
  }
}

.link:active {
  opacity: 1;
}

.link:disabled {
  opacity: 0.5;
  text-decoration: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
}