@import '../common.css';

/* 
 * Props
 * -----
 */
 :root {
  --link-line-font-size: var(--size-12-14);
  --link-line-gap: 12px;
  --link-line-font-family: var(--fat-font-family);
 }

/* 
 * Classes
 * -------
 */
.link-line.button {
  /* Alignment */
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--link-line-gap) !important;
  padding: 0 !important;
  /* Color */
  color: var(--gray-2);
  background: none;
  /* Font */
  vertical-align: middle;
  text-transform: uppercase;
  font-family: var(--link-line-font-family);
  font-size: var(--link-line-font-size);
  text-wrap: balance;
  /* To prevent long press text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-line.button * {
  /* Font */
  font-family: inherit;
  font-size: inherit;
  transition: none;
}

.link-line.button > :last-child,
.link-line.button > :first-child {
  /* Alignment */
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--link-line-gap);
  border: 0;
  padding: 0;
  /* Font */
  text-overflow: ellipsis;
}

.link-line.button > :not(:only-child):last-child {
  justify-content: flex-end;
}

.link-line.button > .link-line-button {
  transition: var(--transition-time);
}

/* Hover, only for non-touchable devices */
@media not all and (hover: none), (-ms-high-contrast: none) {
  .link-line.button:hover {
    padding: 0;
    color: var(--gray-2) !important;
    background: none;
    opacity: 1 !important;
  }
  .link-line.button:hover > .link-line-button {
    color: var(--gray-3);
    opacity: 0.7;
    transition: var(--transition-time);
  }
}

.link-line.button.link-line.divider:not(.link-line:last-child) {
  border-bottom: 1px solid gray;
}