@import "../../core/typography.css";

/* 
 * Props
 * -----
 */
 :root {
  --link-line-font-size: var(--size-10-12);
  --link-line-gap: 8px;
  --link-line-font-family: var(--fat-font-family);
 }

/* 
 * Classes
 * -------
 */
.link-line {
  /* Alignment */
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--link-line-gap);
  /* Font */
  vertical-align: middle;
  text-transform: uppercase;
  font-family: var(--link-line-font-family);
  font-size: var(--link-line-font-size);
  text-wrap: balance;
  /* To prevent long press text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.link-line > :last-child,
.link-line > :first-child {
  /* Alignment */
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--link-line-gap);
  border: 0;
  padding: 0;
  /* Font */
  font-family: inherit;
  font-size: inherit;
  text-overflow: ellipsis;
}

.link-line > :last-child {
  justify-content: flex-end;
}

.link-line a {
  text-decoration: none;
  -webkit-decoration: none;
  -webkit-text-decoration: none;
  opacity: 1;
  cursor: pointer;
  /* animation */
  transition: var(--transition-time);
}

.link-line a:hover {
  opacity: 0.8;
}

.link-line a:not(a[href]):hover {
  opacity: 1;
}

.link-line:disabled a,
.link-line a:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.link-line a,
.link-line a:hover,
.link-line a:active,
.link-line a:visited,
.link-line a:link {
  color: inherit;
}