@import "../../core/animation.css";
@import "../../core/typography.css";
@import "../../core/spacing.css";

/* 
 * Classes
 * -------
 */
.touchable,
.button,
.pill,
button,
input[type=submit],
input[type=button],
input[type=reset] {
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  block-size: fit-content;
  /* To prevent long press text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* animation */
  transition: var(--transition-time);
}

button,
.button,
.pill,
input[type=submit],
input[type=button],
input[type=reset] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.touchable:hover,
.button:hover,
.pill:hover,
button:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover {
  opacity: 0.8;
}

.touchable:active,
.button:active,
.pill:active,
button:active,
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
.touchable:active:hover,
.button:active:hover,
.pill:active:hover,
button:active:hover,
input[type=submit]:active:hover,
input[type=button]:active:hover,
input[type=reset]:active:hover {
  opacity: 1;
}

.touchable:disabled,
.button:disabled,
.pill:disabled,
button:disabled,
input[type=submit]:disabled,
input[type=button]:disabled,
input[type=reset]:disabled {
  opacity: 0.5;
}