.no-pointer-event,
.no-pointer-events,
.pointer-events-none  {
  pointer-events: none;
}

.pointer-events-all {
  pointer-events: all;
}

.pointer-events-fill {
  pointer-events: fill;
}

.pointer-events-stroke {
  pointer-events: stroke;
}

.pointer-events-painted {
  pointer-events: painted;
}

.pointer-events-visible {
  pointer-events: visible;
}

.pointer-events-visible-fill {
  pointer-events: visibleFill;
}

.pointer-events-visible-painted {
  pointer-events: visiblePainted;
}

.pointer-events-visible-stroke {
  pointer-events: visibleStroke;
}