@import "../../core/spacing.css";

/* 
 * Props
 * -----
 */
 :root {
  /* Properties */
  --form-border-radius: var(--border-radius);
  --form-padding: var(--padding-half);
  --form-gap: var(--gap-half);
}

/* 
 * Classes
 * -------
 */
.form {
  display: flex;
  flex-direction: column;
  border-radius: var(--form-border-radius);
  gap: var(--gap-half);
  align-items: flex-end;
}

.form.left {
  align-items: flex-start;
}

.form.middle {
  align-items: center;
}

.form.right {
  align-items: flex-end;
}

.form .label {
  width: 100%;
}

.form .label:not(.label:first-child) {
  padding-top: var(--gap-half);
}