@import "../../core/spacing.css";

/* 
 * Props
 * -----
 */
 :root {
  /* Properties */
  --form-border-radius: var(--border-radius);
  --form-padding: var(--padding-half);
  --form-gap: var(--gap-half);
}

/* 
 * Classes
 * -------
 */
.form {
  display: flex;
  flex-direction: column;
  border-radius: var(--form-border-radius);
  gap: var(--gap-half);
}