@import '../common.css';

:root {
  --profile-card-img-size: var(--size-72-96);
}

.profile-card {
  gap: var(--gap-half);
  border-radius: var(--border-radius);
  padding: var(--padding-half);
}

.profile-card-picture {
  border-radius: var(--border-radius-round);
  width: var(--profile-card-img-size);
  height: var(--profile-card-img-size);
  overflow: hidden;
}

.profile-card-name-title {
  justify-content: center;
  align-items: center;
  gap: var(--text-gap);
}

.profile-card-name {
  text-align: center;
  text-wrap: balance;
  font-weight: 600;
  font-size: var(--size-14-16);
}

.profile-card-title {
  text-align: center;
  text-wrap: balance;
  font-size: var(--size-12-14);
}

/* Hover, only for non-touchable devices */
@media (hover: hover) and (pointer: fine), (-ms-high-contrast: active), (forced-colors: active) {
  .profile-card-picture {
    transition: all var(--transition-time);
    filter: saturate(0);
  }

  .profile-card:hover .profile-card-picture {
    filter: saturate(1);
  }
}