:root {
  --profile-card-img-size: var(--size-32-64);
}

.profile-card {
  align-items: center;
  justify-content: center;
  gap: var(--gap-half);
  border-radius: var(--border-radius);
  padding: var(--padding-half);
}

.profile-card-picture {
  border-radius: var(--border-radius-round);
  width: var(--profile-card-img-size);
  height: var(--profile-card-img-size);
  overflow: hidden;
}

.profile-card-name {
  text-align: center;
  text-wrap: balance;
  font-weight: 600;
  font-size: var(--font-size-14-16);
}

.profile-card-title {
  text-align: center;
  text-wrap: balance;
  font-size: var(--font-size-12-14);
}