@import '../common.css';

:root {
  --step-card-icon-size: 20px;
}

.step-card {
  gap: var(--gap-half);
  border-radius: var(--border-radius);
  padding: var(--padding-half);
  color: var(--dark, black);
}

.step-card-num {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  font-weight: 600;
  width: var(--size-28-32);
  height: var(--size-28-32);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 100px;
  font-size: var(--size-14-16);
  color: var(--light, white);
  background: var(--dark, black);
}

.step-card-title {
  text-wrap: balance;
  font-weight: 600;
  font-size: var(--size-20-24);
}

.step-card-description {

  font-size: var(--size-14-16);
}